# Exclude files and folders from export repository

.gitignore export-ignore

/.github export-ignore

/.phpstorm.meta.php export-ignore
/README.md export-ignore
/composer.json export-ignore
/package.json export-ignore
/phpcs.xml export-ignore
