/* fallbacks for lack of RGBa/opacity support in IE 8 */

.close {
  color: #cccccc;
}

.close:hover {
  color: #333333;
}

.dropdown,
.dropdown:hover a.dropdown-toggle,
.dropdown.active a.dropdown-toggle {
  background: #fcdc7f;
}

/* fallbacks for lack of SVG support in IE 8 */

.txp-header h1 {
  background-image: url("../img/textpattern-lrg.png");
}

.dropdown-menu:before {
  background-image: url("../img/indicator.gif");
}

.welcome h1 {
  background-image: url("../img/textpattern-xlrg.png");
}

#tab-text a {
  background-image: url("../img/view-text.png");
}

#tab-html a {
  background-image: url("../img/view-html.png");
}

#tab-preview a {
  background-image: url("../img/view-preview.png");
}
