/* ==========================================================================
   Hive theme for Textpattern CMS (v4.6alpha1)
   ========================================================================== */
/* Imports
   ========================================================================== */
@import url("../../../vendors/jquery/ui/css/textpattern/jquery-ui.css");

/* Base
   ========================================================================== */
/* corrects block display not defined in IE8-9 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* addresses styling for `hidden` attribute not present in IE8-9 */
[hidden] {
  display: none;
}

html {
  /* prevents iOS text size adjust after orientation change, without disabling user zoom */
  -webkit-text-size-adjust: 100%;
  /* as above, for Windows Phone */
  -ms-text-size-adjust: 100%;
}

/* Clearfix
   ========================================================================== */
.clearfix:after,
.progress-meter ol:after,
.txp-footer:after,
.txp-navigation:after,
.txp-edit p:after,
.txp-login p:after,
.edit-form p:after,
.prefs-form p:after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}

.clear {
  clear: both;
}

/* Layout grids
   ========================================================================== */
/* layout grid container - must only contain `.txp-layout-grid` or `.txp-layout-cell` components as children */
.txp-layout-grid {
  display: block;
  padding: 0;
  margin: 0 -1em;
  /* ensure consistent default alignment */
  text-align: left;
  /* remove inter-unit whitespace for all non-monospace font-families */
  letter-spacing: -.31em;
  word-spacing: -.43em;
  /* protect against WebKit bug with optimizelegibility */
  text-rendering: optimizespeed;
}

.txp-layout-grid > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1em;
  /* reset text defaults */
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

/* layout grid cells - no explicit width by default, apply `.txp-layout-x-y` classes below */
.txp-layout-cell {
  display: inline-block;
  margin: 0;
  width: 100%;
  /* controls vertical positioning of units */
  vertical-align: top;
  /* keeps unit content correctly aligned */
  text-align: left;
}

/* reset vertical margin on nested layout grids */
.txp-layout-grid .txp-layout-grid .grid__cell {
  margin-top: -1em;
}

/* proportional layout cells */
.txp-layout-1-4 {
  width: 25%;
}

.txp-layout-2-4 {
  width: 50%;
}

.txp-layout-3-4 {
  width: 75%;
}

/* text columns (fixed proportion cell) */
.txp-layout-textbox {
  margin: 0 auto;
  max-width: 57em;
}

.txp-layout-grid > div.txp-layout-textbox {
  padding: 0;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.text-column {
  margin: 0 auto;
  max-width: 57em;
}

/* Inline grids
   ========================================================================== */
.txp-grid {
  text-align: center;
  margin-bottom: .69230769230769em;
}

.txp-grid-cell {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  max-width: 22.61538em;;
  vertical-align: top;
  margin: 0 .15384em .30769em;
  border: 1px solid #cccccc;
  padding: 0 1em;
}

/* Links
   ========================================================================== */
a {
  -webkit-tap-highlight-color: rgba(0, 102, 255, 0.5);
  color: #114eb1;
  text-decoration: none;
}
a:focus {
  outline: thin dotted #0066ff;
}
a:hover {
  color: #0066ff;
  text-decoration: underline;
}
a:hover, a:active {
  outline: 0;
}
a.busy {
  visibility: hidden;
}

.pophelp,
.pophelpsubtle {
  border: 1px solid #fff;
  padding: 0 0.25em;
  font-weight: normal;
  background: #e5e5e5;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.txp-list thead th a.pophelp {
  display: inline;
  color: #114eb1;
}
.txp-list thead th a.pophelp:hover {
  color: #0066ff;
  text-decoration: underline;
}

/* Typography
   ========================================================================== */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8125em;
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  line-height: 1.23076;
  margin: 0 0 .5em;
}
h1 .pophelp {
  font-size: .5em;
}

h2 {
  font-size: 1.38461em;
  margin: .38889em 0 .72222em 0;
}
h2 .pophelp {
  font-size: .72222em;
}

h3 {
  font-size: 1.15384em;
  margin: .86667em 0;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0;
}

/* addresses style set to `bolder` in Firefox4+, Safari5, and Chrome */
b,
strong {
  font-weight: bold;
}

address {
  margin: 1em 0;
}

blockquote {
  margin: 1em 0;
  border-left: 3px solid #cccccc;
  padding: 0 0 0 1em;
}

/* sets consistent quote types */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* addresses styling not present in Safari5 and Chrome */
dfn {
  font-style: italic;
}

/* addresses styling not present in IE8-9, Safari5, Chrome */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

mark,
var {
  padding: 0 .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
  color: #333333;
  background: #dfeafc;
}

/* corrects font size set oddly in Safari5 and Chrome */
pre,
code,
kbd,
samp {
  font-size: 1em;
}

pre,
code,
kbd,
samp,
.code {
  font-family: Menlo, Consolas, "Liberation Mono", monospace;
}

code,
kbd,
samp {
  border: 1px solid #e3e3e3;
  padding: 0 .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
  background: #f7f7f7;
}

pre {
  overflow-x: auto;
  border: 1px solid #e3e3e3;
  padding: 1em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  background: #f7f7f7;
  tab-size: 4;
}

pre code,
.code code,
code.body,
code.excerpt {
  border: 0;
  padding: 0;
  background: none;
}

/* prevents `<sub>` and `<sup>` affecting line height in all browsers */
sub,
sup {
  font-size: 0.84615em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

small,
figcaption,
.txp-footer {
  font-size: 0.84615em;
}

hr {
  margin: 1.5em 0;
  border-color: #cccccc;
  border-style: solid;
}

/* Support for non-latin languages
   ========================================================================== */
html[lang="ja-jp"] {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

html[lang="ko-kr"] {
  font-family: GulimChe, Gulim, sans-serif;
}

html[lang="zh-cn"] {
  font-family: SimHei, sans-serif;
}

html[lang="zh-tw"] {
  font-family: PMingLiU, sans-serif;
}

/* Embedded content
   ========================================================================== */
img {
  /* removes border when inside `<a>` element in IE8-9 */
  border: 0;
}
img.align-left {
  float: left;
  margin: 1em 1em 1em 0;
}
img.align-right {
  float: right;
  margin: 1em 0 1em 1em;
}
img.align-center {
  display: block;
  margin: 1em auto;
}

/* addresses margin not present in IE 8-9 and Safari 5 */
figure {
  margin: 0;
}

/* corrects overflow displayed oddly in IE9 */
svg:not(:root) {
  overflow: hidden;
}

.content-image {
  border: solid 1px #cccccc;
  -moz-border-radius: .5em;
  border-radius: .5em;
  padding: 4px;
  background: #fff;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}
a:hover .content-image {
  border: solid 1px #0066ff;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 102, 255, 0.4);
  box-shadow: 0 0 0.5em rgba(0, 102, 255, 0.4);
}

/* Messages
   ========================================================================== */
/* label colours */
.success,
.warning,
.error,
.information {
  -moz-border-radius: .25em;
  border-radius: .25em;
  padding: 0 .25em;
}

.success {
  color: #238c23;
  background: #dff0d8;
}

.warning {
  color: #cb8f02;
  background: #fff6d3;
}

.error {
  color: #9d261d;
  background: #f2dede;
}

.information {
  color: #3a87ad;
  background: #e7f6fc;
}

.highlight {
  background: #fff6d3;
}

.alert-block {
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: .5em 1em;
}
.alert-block.success {
  border: 1px solid #a3d48e;
}
.alert-block.warning {
  border: 1px solid #ffe16d;
}
.alert-block.error {
  border: 1px solid #e1b2b2;
}
.alert-block.information {
  border: 1px solid #b1e2f5;
}

/* alert boxes */
#messagepane {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  text-align: center;
}
#messagepane span.success,
#messagepane span.warning,
#messagepane span.error {
  display: inline-block;
  margin: 0 auto;
  -moz-border-radius: .5em .5em 0 0;
  border-radius: .5em .5em 0 0;
  padding: .53846em 2.84615em .53846em 1em;
  max-width: 53.15385em;
  color: #fff;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}
#messagepane span.success {
  background: #238c23;
}
#messagepane span.warning {
  background: #cb8f02;
}
#messagepane span.error {
  background: #9d261d;
}

/* close icon */
.close {
  position: absolute;
  top: .27778em;
  right: .72222em;
  text-decoration: none;
  color: #ccc;
  font-size: 1.38461em;
  font-weight: bold;
}
.rgba .close {
  color: rgba(255, 255, 255, 0.6);
}
.close:hover {
  color: #333333;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.rgba .close:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* flash the alert */
@-webkit-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@-moz-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@-ms-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@-o-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

.messageflash {
  -webkit-animation: messageflash 1s;
  -moz-animation: messageflash 1s;
  -o-animation: messageflash 1s;
  animation: messageflash 1s;
}

/* Twisties
   ========================================================================== */
.txp-details {
  border: 1px solid #e3e3e3;
  border-top: 0;
  background: #f7f7f7;
  margin: 1em 0;
}

h3.txp-summary,
.txp-details > h3 {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
  margin: 0;
  padding: 0 2em 0 1em;
  height: 2em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #bebebe;
  background-color: #eeeeee;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
}

h3.txp-summary a {
  display: block;
  color: #333333;
}
h3.txp-summary a:hover {
  color: #333333;
  text-decoration: none;
}
h3.txp-summary a:after {
  position: absolute;
  content: "&#8594;";
  top: .69230em;
  right: .76923em;
  z-index: 10;
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  opacity: .5;
  border-left: .30769em solid #333333;
  border-right: 0;
  border-top: .30769em solid transparent;
  border-bottom: .30769em solid transparent;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
h3.txp-summary a:hover:after {
  opacity: 1;
}

h3.txp-summary.expanded a:after {
  content: "&#8595;";
  top: .84615em;
  right: .69230em;
  border-left: .30769em solid transparent;
  border-right: .30769em solid transparent;
  border-top: .30769em solid #333333;
  border-bottom: 0;
}

.toggle,
.txp-details > div {
  padding: 0 1em;
}

/* Progress meter (only used in setup pages)
   ========================================================================== */
.progress-meter ol {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  counter-reset: step;
}
.progress-meter li {
  position: relative;
  display: inline-block;
  margin: 0 1em 1em 0;
  padding: 1em 1em 1em 4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #bebebe;
  background-color: #eeeeee;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
}
.progress-meter li.active {
  border-top: 1px solid #f8c225;
  border-bottom: 1px solid #d9a307;
  background-color: #ffda44;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #f8c225);
  /* Firefox3.6 */
 background-image: -moz-linear-gradient(#ffda44, #f8c225);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #f8c225);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #f8c225);
  border-right: 1px solid #f8c225;
  border-left: 1px solid #f8c225;
}
.progress-meter li:before {
  position: absolute;
  z-index: 2;
  counter-increment: step;
  content: counter(step);
  top: .4375em;
  left: .6875em;
  border: 1px solid #fff;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: .25em;
  width: 1.375em;
  text-align: center;
  font-size: 1.23077em;
  font-weight: bold;
  background: #cccccc;
}
.progress-meter li:after {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
  content: "";
  height: 0;
  width: 0;
  border-top: 1.75em solid transparent;
  border-left: .9em solid #ccc;
  border-bottom: 1.75em solid transparent;
}
.progress-meter strong {
  font-weight: normal;
}

/* Forms
   ========================================================================== */
/* define consistent fieldset margin, border and padding */
fieldset {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 1px 1em;
}

/* remove padding so people aren't caught out if they zero out fieldsets */
legend {
  border: 0;
  padding: 0;
}

/* colour placeholder text (WebKit and Mozilla only, so far) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

/* removes inner padding and search cancel button in Safari5+ and Chrome on OS X */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* better focus glows, if box-shadow is supported */
.boxshadow input[type="color"]:focus,
.boxshadow input[type="date"]:focus,
.boxshadow input[type="datetime"]:focus,
.boxshadow input[type="datetime-local"]:focus,
.boxshadow input[type="email"]:focus,
.boxshadow input[type="month"]:focus,
.boxshadow input[type="number"]:focus,
.boxshadow input[type="password"]:focus,
.boxshadow input[type="search"]:focus,
.boxshadow input[type="tel"]:focus,
.boxshadow input[type="text"]:focus,
.boxshadow input[type="time"]:focus,
.boxshadow input[type="url"]:focus,
.boxshadow input[type="week"]:focus,
.boxshadow select:focus,
.boxshadow textarea:focus {
  outline: 0;
  border-color: #0066ff;
  -webkit-box-shadow: 0 0 7px #0066ff;
  box-shadow: 0 0 7px #0066ff;
  /* Opera */
  z-index: 1;
}
.boxshadow button:focus,
.boxshadow input[type="button"]:focus,
.boxshadow input[type="reset"]:focus,
.boxshadow input[type="submit"]:focus,
.boxshadow .txp-logout a:focus,
.boxshadow .action-create a:focus,
.boxshadow .navlink:focus,
.boxshadow .navlink-active:focus,
.boxshadow .txp-buttons a:focus {
  outline: 0;
  border-color: #0066ff;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25), 0 0 7px #0066ff;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25), 0 0 7px #0066ff;
  /* Opera */
  z-index: 1;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  -webkit-appearance: none;
  -webkit-background-clip: padding;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  vertical-align: middle;
  color: #333333;
  background-color: white;
  margin: 0;
  border: 1px solid #cccccc;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: .4em .25em;
}

textarea {
  min-height: 4.38462em;
  resize: vertical;
  width: 100%;
  /* removes default vertical scrollbar in IE8-9 */
  overflow: auto;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* TODO: AMENDED THIS */
select[size="0"],
select[size="1"] {
  height: 2em;
}

/* addresses select alignment in Safari/Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: .25em;
  }

  select,
  select[size="0"],
  select[size="1"] {
    background: white url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13px' height='4px' viewBox='0 0 13 4' enable-background='new 0 0 13 4' xml:space='preserve'><polygon fill='#333333' points='3.5,4 0,0 7,0'/></svg>") no-repeat right center;
    padding-right: 2em;
    -webkit-background-size: 1em .30769em;
    background-size: 1em .30769em;
  }
}
optgroup {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #333333;
}
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* addresses box sizing set to `content-box` and excess padding in IE8-9 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}

/* make sure disable elements really are disabled */
button[disabled],
html input[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.navlink-disabled {
  opacity: 1;
  border-color: #dddddd !important;
  background: #eee !important;
  text-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  color: #999999 !important;
  cursor: default;
}

/* additional input field widths */
input[size="32"] {
  width: 100%;
  max-width: 28em;
}

input.input-large {
  width: 100%;
}

input.input-medium {
  width: 50%;
  max-width: 14.4em;
}

input.input-small {
  width: 25%;
  max-width: 7.6em;
}

input.input-xsmall {
  width: 16%;
  width: 4.2em;
}

input.year, input.exp_year {
  text-align: center;
  width: 4.2em;
}
input.month, input.exp_month, input.day, input.exp_day, input.hour, input.exp_hour, input.minute, input.exp_minute, input.second, input.exp_second {
  text-align: center;
  width: 2.46154em;
}

/* Buttons
   ========================================================================== */
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.txp-logout a,
.action-create a,
.navlink,
.navlink-active,
.txp-buttons a {
  -webkit-appearance: none;
  -webkit-background-clip: padding;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  overflow: visible;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 0;
  border: 1px solid #c4c4c4;
  border-bottom-color: #aaaaaa;
  -moz-border-radius: .5em;
  border-radius: .5em;
  padding: .4em 1em;
  display: inline-block;
  color: #333333;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  background-color: #eeeeee;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.txp-logout a:hover,
.action-create a:hover,
.navlink:hover,
.navlink-active:hover,
.txp-buttons a:hover {
  border: 1px solid #aaaaaa;
  border-bottom-color: #919191;
  color: #333333;
  text-decoration: none;
  background-color: #f8f8f8;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#f8f8f8, #e7e7e7);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#f8f8f8, #e7e7e7);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#f8f8f8, #e7e7e7);
  /* CSS3 Compliant */
  background-image: linear-gradient(#f8f8f8, #e7e7e7);
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active,
.txp-logout a:active,
.action-create a:active,
.navlink:active,
.navlink-active:active,
.txp-buttons a:active {
  border: 1px solid #aaaaaa;
  border-bottom-color: #919191;
  -webkit-box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  background-color: #e6e6e6;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e6e6e6, #d5d5d5);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e6e6e6, #d5d5d5);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e6e6e6, #d5d5d5);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e6e6e6, #d5d5d5);
}

/* primary buttons */
input[type="submit"].publish,
button.publish,
a.publish {
  font-weight: bold;
  border: 1px solid #f8c225;
  border-bottom-color: #d9a307;
  background-color: #ffe168;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffe168, #f9cc48);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffe168, #f9cc48);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffe168, #f9cc48);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffe168, #f9cc48);
}
input[type="submit"].publish:hover,
button.publish:hover,
a.publish:hover {
  border: 1px solid #e3ab07;
  border-bottom-color: #b68906;
  background-color: #ffe88b;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffe88b, #fad56a);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffe88b, #fad56a);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffe88b, #fad56a);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffe88b, #fad56a);
}
input[type="submit"].publish:active,
button.publish:active,
a.publish:active {
  border: 1px solid #e3ab07;
  border-bottom-color: #b68906;
  background-color: #ffdc4e;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffdc4e, #f8c52f);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffdc4e, #f8c52f);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffdc4e, #f8c52f);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffdc4e, #f8c52f);
}

/* delete buttons */
input[type="submit"].destroy,
button.destroy {
  height: 1.5em;
  border: 1px solid #db463b;
  border-bottom-color: #9d261d;
  padding: 0 0.3077em;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  color: #f9e0df;
  border-top: 1px solid #9d261d;
  border-bottom: 1px solid #691913;
  background-color: #dc4e44;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#dc4e44, #9d261d);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#dc4e44, #9d261d);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#dc4e44, #9d261d);
  /* CSS3 Compliant */
  background-image: linear-gradient(#dc4e44, #9d261d);
}
input[type="submit"].destroy:hover,
button.destroy:hover {
  border: 1px solid #bf2e23;
  border-bottom-color: #721c15;
  color: white;
  border-top: 1px solid #c83025;
  border-bottom: 1px solid #94241b;
  background-color: #e36f66;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e36f66, #c83025);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e36f66, #c83025);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e36f66, #c83025);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e36f66, #c83025);
}
input[type="submit"].destroy:active,
button.destroy:active {
  border: 1px solid #bf2e23;
  border-bottom-color: #721c15;
  border-top: 1px solid #8c221a;
  border-bottom: 1px solid #581510;
  background-color: #d93e32;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#d93e32, #8c221a);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#d93e32, #8c221a);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#d93e32, #8c221a);
  /* CSS3 Compliant */
  background-image: linear-gradient(#d93e32, #8c221a);
}

.navlink-disabled {
  -webkit-background-clip: padding;
  -khtml-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 2em;
  font-size: .92307692307692em;
  line-height: 1.33333333333333;
  border: 1px solid;
  -moz-border-radius: 0.38462em;
  border-radius: 0.38462em;
  padding: .30769230769231em .75em;
  display: inline-block;
}

/* button sets */
.nav-tertiary a,
.nav-tertiary .navlink-disabled,
.prev-next a,
.prev-next .navlink-disabled {
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tertiary > :first-child,
.prev-next > :first-child {
  -moz-border-radius-topleft: .5em;
  border-top-left-radius: .5em;
  -moz-border-radius-bottomleft: .5em;
  border-bottom-left-radius: .5em;
}
.nav-tertiary > :last-child,
.prev-next > :last-child {
  -moz-border-radius-topright: .5em;
  border-top-right-radius: .5em;
  -moz-border-radius-bottomright: .5em;
  border-bottom-right-radius: .5em;
}

.nav-tertiary .navlink-active {
  color: #114eb1;
  border-color: #a3bef3;
  border-bottom-color: #769eed;
  background-color: #e3edfc;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e3edfc, #bed4f9);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e3edfc, #bed4f9);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e3edfc, #bed4f9);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e3edfc, #bed4f9);
}
.nav-tertiary .navlink-active:hover {
  border-color: #97b0ef;
  border-bottom-color: #6b8fe8;
  background-color: #f1f6fe;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#f1f6fe, #ccdefa);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#f1f6fe, #ccdefa);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#f1f6fe, #ccdefa);
  /* CSS3 Compliant */
  background-image: linear-gradient(#f1f6fe, #ccdefa);
}
.nav-tertiary .navlink-active:active {
  border-color: #97b0ef;
  border-bottom-color: #6b8fe8;
  background-color: #d5e4fb;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#d5e4fb, #b0cbf7);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#d5e4fb, #b0cbf7);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#d5e4fb, #b0cbf7);
  /* CSS3 Compliant */
  background-image: linear-gradient(#d5e4fb, #b0cbf7);
}

/* Lists
   ========================================================================== */
/* addresses padding set differently */
menu,
ol,
ul {
  padding: 0 0 0 2em;
}

/* remove margins from nested lists */
ul ul,
ol ol,
dl dl {
  margin: 0;
}

dd {
  margin: 0 0 0 2em;
}

dt {
  font-style: bold;
}

.plain-list {
  list-style: none;
  padding-left: 0;
}

.switcher-list {
  list-style: none;
  margin: 0 -1em;
  padding-left: 0;
}
.switcher-list li {
  position: relative;
  border-top: 1px solid #dddddd;
  padding: .38461em 3em .38461em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.switcher-list li:nth-child(odd) {
  background: white;
}
.switcher-list li:first-child {
  border-top: 0;
}
.switcher-list li.active {
  background: #dfeafc;
}

.switcher-action,
.switcher-list .destroy {
  position: absolute;
  z-index: 2;
  right: 1em;
}

.switcher-action {
  top: .38461538461538em;
}

.switcher-list .destroy {
  top: .35em;
}

/* Tables
   ========================================================================== */
/* consistent tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
  margin-bottom: .5em;
}

/* make table cells align top and left by default, remove any cell padding */
th,
td {
  vertical-align: top;
  text-align: left;
  padding: 0;
}

.txp-list {
  width: 100%;
}
.txp-list th,
.txp-list td {
  padding: .38461em 1em;
}
.txp-list .multi-edit {
  width: 18px;
}
.txp-list tbody tr {
  border: 1px solid #dddddd;
}
.txp-list tbody tr:nth-child(even) {
  background: #f7f7f7;
}
.txp-list tbody tr.selected {
  background: #dfeafc;
}
.txp-list tbody th {
  font-weight: normal;
}
.txp-list thead th {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #eeeeee;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  border-top: 1px solid #dddddd;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #c4c4c4;
}
.txp-list thead th.asc, .txp-list thead th.desc {
  background-color: lightgrey;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(lightgrey, #e4e4e4);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(lightgrey, #e4e4e4);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(lightgrey, #e4e4e4);
  /* CSS3 Compliant */
  background-image: linear-gradient(lightgrey, #e4e4e4);
}
.txp-list thead th:first-child {
  border-left: 1px solid #dddddd;
}
.txp-list thead th a {
  position: relative;
  display: block;
  color: #333333;
  margin-right: .5em;
}
.txp-list thead th a:hover {
  color: #333333;
  text-decoration: none;
}
.txp-list thead th a:after {
  position: absolute;
  top: .53846em;
  right: -.76923em;
  z-index: 10;
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: top;
  opacity: .5;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
.txp-list thead th a:hover:after {
  opacity: 1;
}
.txp-list thead th.desc a:after {
  content: "&#8595;";
  border-left: .30769em solid transparent;
  border-right: .30769em solid transparent;
  border-top: .30769em solid #333333;
  border-bottom: 0;
}
.txp-list thead th.asc a:after {
  content: "&#8593;";
  border-left: .30769em solid transparent;
  border-right: .30769em solid transparent;
  border-top: 0;
  border-bottom: .30769em solid #333333;
}
.txp-list .id {
  white-space: nowrap;
}

/* Allow overflow scroll on tables */
.txp-listtables {
  margin-bottom: 1em;
  overflow-x: auto;
}

/* Container
   ========================================================================== */
body {
  position: relative;
  margin: 0;
  padding: 5em 1.69% 0;
  min-width: 71.3846153846154em; /* TO BE REMOVED */
  color: #333333;
  background: white;
}

.txp-body {
  max-width: 116em;
  margin: 0 auto;
}

/* Header
   ========================================================================== */
.txp-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 1.69%;
  height: 3em;
  min-width: 71.3846153846154em;
  -webkit-box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  border-top: 1px solid #f8c225;
  border-bottom: 1px solid #d9a307;
  background-color: #ffda44;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #f8c225);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #f8c225);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #f8c225);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #f8c225);
}
.txp-header h1 {
  float: left;
  margin: 0;
  padding-left: 9.84615em;
  font-size: 1em;
  line-height: 3em;
  background: no-repeat left 48%;
  max-width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: no-repeat 0 46%;
}
.nosvg .txp-header h1 {
  background-image: url("../img/textpattern-lrg.png");
}
.svg .txp-header h1 {
  background-image: url("../img/textpattern-lrg.svg");
  -webkit-background-size: 9.84615em 2em;
  -moz-background-size: 9.84615em 2em;
  -o-background-size: 9.84615em 2em;
  background-size: 9.84615em 2em;
}
.txp-header h1 a {
  margin-right: 1em;
  margin-left: 1em;
  color: #333333;
}
.txp-header h1 a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

.txp-logout {
  position: absolute;
  top: -.69231em;
  right: 1.69%;
}

/* Navigation
   ========================================================================== */
/* hide `<select>` version of navigation on non-touch devices
   also happens via media-queries when screen width is < 768px regardless of touch ability */
.txp-nav-select {
  display: none;
}
.touch .txp-nav-select {
  display: inherit;
}

/* hide `<ul>` version of navigation on touch devices */
.touch .txp-nav {
  display: none;
}

.txp-nav {
  float: left;
}
.txp-nav a {
  color: #333;
}
.txp-nav a:hover {
  text-decoration: none;
}
.txp-nav ul {
  list-style: none;
  padding-left: 0;
}

.data-dropdown {
  display: block;
  float: left;
  margin: 0;
}

.dropdown {
  position: relative;
  display: block;
  float: left;
  border-right: 1px solid #f8c225;
  background: #fcdc7f;
}
.rgba .dropdown {
  background: rgba(255, 255, 255, 0.2);
}
.dropdown:first-child {
  border-left: 1px solid #f8c225;
}
.dropdown a.dropdown-toggle {
  display: block;
  padding: 0 1em;
  line-height: 3em;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
.dropdown:hover a.dropdown-toggle {
  background: #fcdc7f;
}
.rgba .dropdown:hover a.dropdown-toggle {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown.active a.dropdown-toggle {
  background: #fcdc7f;
}
.rgba .dropdown.active a.dropdown-toggle {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
  position: absolute;
  top: 3em;
  left: -9999px;
  z-index: 20000;
  min-width: 12em;
  border: solid 1px #d4d4d4;
  border-top: 0;
  background: #fff6d3;
  -moz-border-radius: 0 .5em .5em .5em;
  border-radius: 0 .5em .5em .5em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}
.dropdown-menu li:first-child {
  -moz-border-radius: 0 .5em 0 0;
  border-radius: 0 .5em 0 0;
}
.dropdown-menu li:last-child {
  -moz-border-radius: 0 0 .5em .5em;
  border-radius: 0 0 .5em .5em;
}
.dropdown-menu li:hover {
  background: #ffefaf;
}
.dropdown-menu li.active {
  background: #ffe88b;
}
.dropdown-menu a {
  display: block;
  padding: .5em 1em;
}
.dropdown-menu:before {
  position: absolute;
  content: "";
  top: -0.61538em;
  left: 1em;
  width: 1.23077em;
  height: .61538em;
  background-repeat: no-repeat;
}
.nosvg .dropdown-menu:before {
  background-image: url("../img/indicator.gif");
}
.svg .dropdown-menu:before {
  background-image: url("../img/indicator.svg");
  -webkit-background-size: 1.23077em 0.61538em;
  -moz-background-size: 1.23077em 0.61538em;
  -o-background-size: 1.23077em 0.61538em;
  background-size: 1.23077em 0.61538em;
}

.data-dropdown li:hover .dropdown-menu,
.data-dropdown li:focus .dropdown-menu {
  left: 0;
}

.txp-nav-select {
  margin-top: .61538em;
}

/* Footer
   ========================================================================== */
.mothership {
  float: left;
}

.pagejump {
  float: right;
}

/* Miscellaneous/shared layout
   ========================================================================== */
/* hide text but still allow screen reader access */
.txp-accessibility {
  position: absolute;
  left: -1000em;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.txp-control-panel {
  text-align: center;
}
.txp-control-panel p {
  margin-top: 0;
}

.txp-actions a {
  margin-left: .75em;
}

div.multi-edit {
  margin: 1em 0;
}

.multi-option {
  display: none;
}

.multi-step {
  margin-left: .30769em;
  display: inline-block;
}

.text-section {
  padding-top: 5em;
  background: url("../img/separator.gif") repeat-x 0 2.15385em;
}

.restricted-area {
  font-size: 2em;
  text-align: center;
}

.empty {
  display: none;
}

.disabled {
  opacity: .33;
  /* transparency support for IE8 */
  filter: alpha(opacity=33);
}

/* list navigators on list pages */
.txp-navigation .pageby {
  float: left;
}
.txp-navigation .prev-next {
  float: right;
}

/* AJAX spinner */
span.spinner {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../img/spinner.gif");
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  span.spinner {
    background-image: url("../img/spinner@2x.gif") !important;
    -webkit-background-size: 13px 13px;
    background-size: 13px 13px;
  }
}

/* Edit and login panes
   ========================================================================== */
.txp-edit,
.txp-login {
  margin: 0 auto 1em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  padding: 1em 1em 1px 1em;
  background: #f7f7f7;
}

.txp-edit {
  max-width: 55em;
}

.txp-login {
  max-width: 40em;
}

.txp-label,
.txp-value {
  float: left;
  width: 50%;
}

.txp-value input,
.txp-value select {
  margin-top: -.25em;
  margin-bottom: -.25em;
}

.txp-value-fixed {
  display: inline-block;
  padding: .25em 0;
}

/* deprecated @ 4.6 */
.edit-label,
.login-label {
  display: inline-block;
  float: left;
}

/* deprecated @ 4.6 */
.edit-label {
  width: 42%;
}

/* deprecated @ 4.6 */
.login-label {
  width: 31%;
}

/* deprecated @ 4.6 */
.edit-value,
.login-value {
  display: inline-block;
  float: right;
}
.edit-value input,
.edit-value select,
.login-value input,
.login-value select {
  margin-top: -0.23077em;
  margin-bottom: -0.23077em;
}

/* deprecated @ 4.6 */
.edit-value {
  width: 58%;
}

/* deprecated @ 4.6 */
.login-value {
  width: 69%;
}

/* Setup pages
   ========================================================================== */
body#page-setup {
  padding: 1em 2em 0;
}

.txp-setup {
  margin: 1em auto 2em;
  max-width: 42em;
}

/* rules specific to the very first page you'll see */
.welcome .txp-setup {
  max-width: 20.30769em;
}
.welcome h1 {
  font-size: 1em;
  width: 20.3076923076923em;
  height: 4.15384615384615em;
  width: 20.30769em;
  height: 4.15385em;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
}
.nosvg .welcome h1 {
  background-image: url("../img/textpattern-xlrg.png");
}
.svg .welcome h1 {
  background-image: url("../img/textpattern-xlrg.svg");
  -webkit-background-size: 20.30769em 4.15385em;
  -moz-background-size: 20.30769em 4.15385em;
  -o-background-size: 20.30769em 4.15385em;
  background-size: 20.30769em 4.15385em;
}
.welcome select {
  width: 100%;
}

/* Tag builder page
   ========================================================================== */
#tag-event {
  padding: 2.5em .5em 1em;
  overflow-y: scroll;
}
#tag-event h3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: .5em 1em;
  -webkit-box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  border-top: 1px solid #f8c225;
  border-bottom: 1px solid #d9a307;
  background-color: #ffda44;
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #f8c225);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #f8c225);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #f8c225);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #f8c225);
}
#tag-event th,
#tag-event td {
  padding: .5em;
  width: 50%;
}
#tag-event p {
  margin: .5em;
}

/* Content -> Categories page
   ========================================================================== */
.categories {
  margin-bottom: 1em;
  padding: 1em 1em 1px;
  background: #f7f7f7;
}

/* Content -> Write page
   ========================================================================== */
#view_modes ul {
  list-style: none;
  padding: 0;
}
#view_modes li {
  display: inline-block;
  font-size: 16px;
  margin-right: .5em;
  width: 1.5em;
  height: 1.5em;
}
#view_modes a {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  -moz-border-radius: .5em;
  border-radius: .5em;
  width: 1.5em;
  height: 1.5em;
  background: #eeeeee no-repeat 50% 50%;
}
#view_modes a:hover,
#view_modes li.active a {
  background-color: #fff6d3;
}

.nosvg #tab-text a {
  background-image: url("../img/view-text.png");
}

.svg #tab-text a {
  background-image: url("../img/view-text.svg");
}

.nosvg #tab-html a {
  background-image: url("../img/view-html.png");
}

.svg #tab-html a {
  background-image: url("../img/view-html.svg");
}

.nosvg #tab-preview a {
  background-image: url("../img/view-preview.png");
}

.svg #tab-preview a {
  background-image: url("../img/view-preview.svg");
}

.svg #view_modes a {
  -webkit-background-size: 1.5em 1.5em;
  -moz-background-size: 1.5em 1.5em;
  -o-background-size: 1.5em 1.5em;
  background-size: 1.5em 1.5em;
}

.html .excerpt {
  margin-bottom: 1em;
}

#main_content #title {
  width: 75%;
}
#main_content .author {
  color: #999999;
}

#recent_group ul {
  list-style: decimal-leading-zero;
}
#recent_group li {
  margin-left: 2em;
}

/* Content -> Articles page
   ========================================================================== */
.unpublished {
  color: #999999;
}

/* Content -> Images page
   ========================================================================== */
.fullsize-image {
  text-align: center;
  margin-bottom: 1em;
}
.fullsize-image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

.thumbnail-edit {
  overflow-x: auto;
  margin-bottom: 1em;
}
.thumbnail-edit form {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.edit-image-replace input[type="submit"],
.edit-upload-thumbnail input[type="submit"],
.edit-alter-thumbnail input[type="submit"] {
  float: right;
}

/* Content -> Files page
   ========================================================================== */
.edit-file-replace input[type="submit"] {
  float: right;
}

/* Content -> Comments page
   ========================================================================== */
#page-discuss .txp-list tr.spam {
  background: #f5e5e5;
}

#page-discuss .txp-list tr.moderate {
  background: #fff8dd;
}

/* Admin -> Languages page
   ========================================================================== */
#page-lang .txp-list .modified {
  color: #999999;
  margin-left: .6em;
}

#language_control {
  text-align: left;
}

#textpack-install {
  width: 50%;
}

/* Admin -> Plugins page
   ========================================================================== */
#plugin_install_form {
  text-align: left;
}

tr .manage span,
tr .plugin-prefs {
  visibility: hidden;
}

tr.active .manage span,
tr.active .plugin-prefs {
  visibility: visible;
}

#plugin-install {
  width: 50%;
}

#plugin-code {
  height: 23em;
}

div.code {
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  padding: .15384em .38461em;
  height: 21em;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Deprecated @ 4.6 - use `.txp-layout-textbox` instead */
.plugin-column {
  margin: 0 auto;
  max-width: 57em;
}
.plugin-column p:after {
  content: "";
  display: table;
  clear: both;
  border-collapse: collapse;
}

/* ==========================================================================
   Additional layout for devices < 769px
   ========================================================================== */
@media only screen and (max-width: 768px) {
  /* Layout < 769px
     ========================================================================== */
  body {
    padding: 4em 1em 0;
    min-width: 294px;
  }

  body#page-setup {
    padding: 0 1em 0;
  }

  /* Layout grid < 769px
     ========================================================================== */
  /* proportional units */
  .txp-layout-1-4,
  .txp-layout-2-4,
  .txp-layout-3-4 {
    width: 100%;
  }

  .txp-layout-grid > div.txp-layout-textbox {
    padding: 0 1em;
  }

  /* Header < 769px
     ========================================================================== */
  .txp-header {
    padding: 0 1em;
    min-width: 294px;
  }
  .txp-header h1 {
    max-width: 50%;
    padding-left: 2em;
  }
  .nosvg .txp-header h1 {
    background-image: url("../img/textpattern-sml.png");
  }
  .svg .txp-header h1 {
    background-image: url("../img/textpattern-sml.svg");
    -webkit-background-size: 2em 2em;
    -moz-background-size: 2em 2em;
    -o-background-size: 2em 2em;
    background-size: 2em 2em;
  }

  .txp-logout {
    right: 1em;
  }

  /* Navigation < 769px
     ========================================================================== */
  /* show `<select>` version of navigation on small screen widths */
  .txp-nav-select {
    display: inherit;
  }

  /* hide `<ul>` version of navigation on small screen widths */
  .txp-nav {
    display: none;
  }

  /* Typography < 769px
     ========================================================================== */
  .text-section {
    padding-top: 4em;
    background-position: 0 1.6923em;
  }

  /* Content -> Write page < 769px
     ========================================================================== */
  /* turn off features to optimise small screen size */
  #textile_group,
  #recent_group {
    display: none;
  }

  /* Admin -> Basic/advanced preferences pages < 769px
     ========================================================================== */
  #page-prefs .basic th,
  #page-prefs .basic td,
  #page-prefs .basic tr,
  #page-prefs .advanced th,
  #page-prefs .advanced td,
  #page-prefs .advanced tr {
    display: block;
  }
  #page-prefs .basic tr,
  #page-prefs .advanced tr {
    border-top: 0;
  }
  #page-prefs .basic .pref-value,
  #page-prefs .advanced .pref-value {
    width: 100%;
  }
}
/* ==========================================================================
   Additional layout for devices < 546px
   ========================================================================== */
@media only screen and (max-width: 545px) {
  body {
    padding-top: 7.23077em;
  }

  #page-login,
  #page-logout {
    padding-top: 4em;
  }

  .txp-header {
    position: absolute;
  }
  .txp-header h1 {
    max-width: 66%;
  }

  /* show `<select>` version of navigation for smaller screens (and hide list version) */
  .txp-nav-select {
    position: absolute;
    top: 2.46154em;
    right: 0;
    left: 0;
    z-index: 1000;
    border-top: 1px solid #fffbec;
    padding: .4em 1em;
    background: #fff6d3;
    -webkit-box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.2em 0.25em rgba(0, 0, 0, 0.15);
  }

  .txp-label,
  .txp-value {
    float: none;
    display: block;
    width: 100%;
  }

  .txp-value input,
  .txp-value select {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Deprecated @ 4.6 */
  .edit-label,
  .edit-value,
  .login-label,
  .login-value {
    float: none;
    width: 100%;
  }

  /* Deprecated @ 4.6 */
  .edit-value input,
  .edit-value select,
  .login-value input,
  .login-value select {
    margin-top: 0;
    margin-bottom: 0;
  }

  #article-main #body {
    height: 17.4615384615385em;
  }

  #excerpt {
    height: 4.38462em;
  }

  #page-page textarea.code,
  #page-form textarea.code,
  #page-css textarea.code {
    height: 17.46154em;
  }

  /* remove float from txp-navigation elements */
  .txp-navigation {
    text-align: center;
  }
  .txp-navigation .pageby {
    float: none;
  }
  .txp-navigation .prev-next {
    float: none;
  }

  .progress-meter ol {
    display: block;
    margin-bottom: 1em;
    text-align: left;
  }
  .progress-meter li {
    float: none;
    display: block;
    margin: 0;
  }
  .progress-meter li:after {
    display: none;
  }
}
