<IfModule mod_headers.c>
    Header set Content-Security-Policy "frame-ancestors 'self'"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Uncomment if you need web access to some folder
#    RewriteCond %{REQUEST_URI} ^/textpattern/some_folder [OR]

    # Allow web access to /textpattern/index.php and /textpattern/setup/index.php
    RewriteCond %{REQUEST_URI} ^/textpattern/(setup/)?(index\.php)?$ [OR]

    # Allow web access to js, css, images
    RewriteCond %{REQUEST_URI} \.(js|css|svg|png|jpg|gif|ico)$ [NC]
    RewriteRule ^(.*) - [L]

    # Deny web access to other files
    RewriteRule ^(.*) - [F,L]
</IfModule>
