/**
 * Compatibility style sheet, serves as a fallback for third-party
 * extensions with no admin-side theming capability.
 *
 * @deprecated in 4.2.0
 */

@import "theme/hive/css/textpattern.css";
