/* base
----------------------------------------------- */

body, input, select, textarea {
font: 11px Verdana, Arial, sans-serif;
}

body {
margin: 0 0 20px 0;
padding: 0;
color: #000;
background-color: #fff;
}

code {
font-family: Courier, Monaco, monospace;
}

small {
font-size: 10px;
}

h1, h2, h3 {
font-family: Georgia, Times, serif;
font-weight: normal;
}

h1 {
font-size: 16px;
text-align: left;
}

h2 {
margin: 16px auto 8px auto;
font-size: 13px;
}

h3 {
font-size: 14px;
line-height: 18px;
}

p, textarea {
line-height: 1.4em;
}

fieldset {
padding: 1em;
border: none;
}

input {
font-size: 10px;
}

select {
font-size: 10px;
color: inherit;
background-color: #eee;
}

textarea {
padding: 3px;
color: inherit;
background-color: #eee;
}

td, th {
vertical-align: top;
}

/* links
----------------------------------------------- */

a img {
border: none;
}

a:link, a:visited {
color: #963;
background-color: transparent;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a.alink, a.dlink, a.pophelp {
border-right: 1px solid #999;
border-bottom: 1px solid #999;
}

a.alink {
color: #00f;
background-color: #eee;
}

a.dlink:hover, a.pophelp:hover {
text-decoration: none;
}

a.dlink {
color: #f00;
background-color: #eee;
}

a.navlink, a.navlink:hover {
padding: 3px;
font-size: 10px;
color: #000;
background-color: #ffc;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

a.plain, a.plain:hover {
font-size: 10px;
color: #000;
background-color: transparent;
}

a.pophelp {
padding: 0 2px;
color: #00f;
background-color: #eee;
}

/* form element overrides
----------------------------------------------- */

input.cancel, input.delete,
input.interbox, input.interbox2,
input.navbox,
input.publish, input.preview,
input.smallbox, input.smallerbox, input.smallerboxsp,
select {
border-width: 1px;
border-style: solid;
border-color: #fff #999 #999 #fff;
}

input.cancel, input.delete,
input.publish, input.preview {
margin: 5px 10px 5px auto;
padding: 5px;
width: auto;
}

input.css, input.edit, input.list,
textarea {
border-width: 1px;
border-style: solid;
border-color: #999 #fff #fff #999;
}

input.css {
margin: 1px 0;
padding: 1px;
color: inherit;
background-color: #eee;
}

input.edit {
margin-top: 5px;
padding: 1px;
font-size: 11px;
color: inherit;
background-color: #eee;
}

input.interbox, input.interbox2,
input.navbox,
input.smallbox, input.smallerbox, input.smallerboxsp {
padding: 3px 6px 4px 6px;
}

input.interbox, input.interbox2	 {
padding-right: 4px;
padding-left: 4px;
}

input.interbox2 {
margin-left: 100px;
}

input.list {
margin: 5px 5px auto auto;
padding: 3px;
color: inherit;
background-color: #ddd;
}

input.navbox {
margin-right: 10px;
color: inherit;
background-color: #eee;
}

input.publish {
color: #fff;
background-color: #900;
}

input.smallbox {
margin-right: 10px;
vertical-align: text-top;
color: inherit;
background-color: #ddd;
}

input.smallerbox {
padding: 2px;
color: inherit;
background-color: #ddd;
}

input.smallerboxsp {
margin-right: 10px;
padding: 2px;
color: inherit;
background-color: #ddd;
}

textarea#body {
width: 400px;
height: 420px;
}

textarea#excerpt {
width: 400px;
height: 75px;
}

textarea#keywords {
width: 125px;
height: 80px;
}

/* table element overrides
----------------------------------------------- */

table.edit-table {
margin-top: 2em;
}

td.button {
width: 85px;
height: 40px;
font-size: 10px;
text-align: center;
vertical-align: middle;
background: url(txp_img/button.gif) no-repeat left bottom;
}

td.categories p {
margin: 6px auto 3px auto;
padding-top: 3px;
line-height: 1.6em;
border-top: 1px solid #ddd;
}

td.column {
padding: 10px;
}

td.declaration {
padding: 0 3px;
font-size: 10px;
text-align: left;
}

td.selector, td.selector2 {
padding: 6px 3px;
text-align: left;
border-top: 3px solid #fff;
}

td.selector2 {
font-size: 10px;
}

td.tabup, td.tabdown,
td.tabup2, td.tabdown2 {
padding-top: 6px;
width: 124px;
height: 25px;
font-size: 10px;
text-align: center;
}

td.tabdown {
color: inherit;
background: transparent url(txp_img/down.gif);
cursor: pointer;
}

td.tabdown2 {
color: inherit;
background: transparent url(txp_img/down2.gif);
cursor: pointer;
}

td.tabdown a {
color: #000;
background-color: transparent;
border: 0;
}

td.tabs {
height: 25px;
text-align: center;
color: inherit;
background: transparent url(txp_img/tabshadow.gif) repeat-x;
}

td.tabs td {
vertical-align: middle;
}

td.tabup, td.tabup2 {
color: inherit;
background: transparent url(txp_img/up.gif);
}

td.tabup a {
cursor: default;
}

tr.spam td {
font-style: italic;
color : #999;
background-color:#eee;
}

tr.moderate td {
font-size: 14px;
color : #c00;
background-color: #ffb;
}

table#edit td.noline,
table#list td.noline	{
vertical-align: middle;
border: none;
}

table#list td, table#list th {
padding: 3px 5px;
text-align: left;
border-bottom: 1px solid #ddd;
}

table#list td.noline {
height: 30px;
}

table#list th {
vertical-align: bottom;
}

table#setup td {
padding: 3px;
vertical-align: middle;
}

td#article-col-1 {
width: 165px;
}

td#article-main {
width: 400px;
}

td#article-col-2 {
padding-left: 10px;
width: 200px;
}