/* base
----------------------------------------------- */

body, input, textarea, select {
font: 11px Verdana, Arial, sans-serif;
}

body {
margin: 0 0 20px 0;
padding: 0;
color: #000;
background-color: #fff;
}

code {
font-family: Monaco, Courier, "Courier New", monospace;
}

small {
font-size: 10px;
}

h1, h2, h3, p, ul, ol {
margin: 0 0 10px 0;
padding: 0;
}

h1, h2, h3 {
font-family: Georgia, Times, serif;
font-weight: normal;
}

h1 {
font-size: 16px;
}

h2 {
font-size: 15px;
}

h3 {
font-size: 14px;
}

p {
line-height: 1.4em;
}

ul {
list-style-type: circle;
}

li {
margin: 0 0 5px 35px;
padding: 0;
}

fieldset {
padding: 1em;
border: none;
}

input {
font-size: 10px;
}

textarea {
padding: 3px;
line-height: 1.4em;
color: inherit;
background-color: #eee;
}

select {
font-size: 10px;
color: inherit;
background-color: #eee;
}

table, tr, th, td {
vertical-align: top;
}

/* links
----------------------------------------------- */

h3 a {
font-weight: bold;
}

a img {
border: none;
}

a:link, a:visited, a:active {
color: #963;
background-color: transparent;
text-decoration: none;
}

a:hover, a:focus {
text-decoration: underline;
}

a.alink, a.dlink, a.pophelp {
border-right: 1px solid #999;
border-bottom: 1px solid #999;
}

a.alink {
color: #00f;
background-color: #eee;
}

a.dlink:hover, a.pophelp:hover {
text-decoration: none;
}

a.dlink {
color: #f00;
background-color: #eee;
}

a.navlink {
padding: 3px;
font-size: 10px;
color: #000;
background-color: #ffc;
border-right: 1px solid #ddd;
border-bottom: 1px solid #ddd;
}

a.plain {
font-size: 10px;
color: #000;
background-color: transparent;
}

a.pophelp {
padding: 0 2px;
font-weight: normal;
color: #00f;
background-color: #eee;
}

/* form element overrides
----------------------------------------------- */

form.upload-form {
text-align: center;
}

input.cancel, input.delete,
input.interbox, input.interbox2,
input.navbox,
input.publish, input.preview,
input.smallbox, input.smallerbox, input.smallerboxsp,
select {
border-width: 1px;
border-style: solid;
border-color: #fff #999 #999 #fff;
}

input.cancel, input.delete,
input.publish, input.preview {
margin: 5px 10px 5px auto;
padding: 5px;
width: auto;
}

input.edit, input.list,
textarea {
border-width: 1px;
border-style: solid;
border-color: #999 #fff #fff #999;
}

input.edit {
margin-top: 5px;
padding: 1px;
font-size: 11px;
color: inherit;
background-color: #eee;
}

input.interbox, input.interbox2,
input.navbox,
input.smallbox, input.smallerbox, input.smallerboxsp {
padding: 3px 6px 4px 6px;
}

input.interbox, input.interbox2	 {
padding-right: 4px;
padding-left: 4px;
}

input.interbox2 {
margin-left: 100px;
}

input.list {
margin: 5px 5px auto auto;
padding: 3px;
color: inherit;
background-color: #ddd;
}

input.navbox {
margin-right: 10px;
color: inherit;
background-color: #eee;
}

input.publish {
color: #fff;
background-color: #900;
border-width: 2px 1px 1px 2px;
border-style: solid;
border-color: #b00 #600 #600 #b00;
}

input.smallbox {
margin-right: 10px;
vertical-align: text-top;
color: inherit;
background-color: #ddd;
}

input.smallerbox {
padding: 2px;
color: inherit;
background-color: #ddd;
}

input.smallerboxsp {
margin-right: 10px;
padding: 2px;
color: inherit;
background-color: #ddd;
}

/* table element overrides
----------------------------------------------- */

table.edit-table {
margin-top: 2em;
}

td.column {
padding: 10px;
}

td.declaration {
padding: 0 3px;
font-size: 10px;
text-align: left;
}

td.selector, td.selector2 {
padding: 6px 3px;
text-align: left;
border-top: 3px solid #fff;
}

td.selector2 {
font-size: 10px;
}

table#edit td.noline,
table#list td.noline	{
vertical-align: middle;
border: none;
}

table#list th, table#list td {
padding: 3px 5px;
text-align: left;
border-bottom: 1px solid #ddd;
}

table#list td.noline {
height: 30px;
}

table#list th {
vertical-align: bottom;
}

table#list ul {
margin-bottom: 0;
list-style-type: none;
}

table#list li {
margin: 0 0 2px 0;
}

/* other element overrides
----------------------------------------------- */

.ok {
color: #008000;
}

.not-ok {
color: #C40000;
}

p.prev-next {
margin-top: 10px;
text-align: center;
}

p#js {
margin-top: 10px;
padding-right: 30px;
display: none;
}

p#js span {
padding: 10px;
background-color: #ffc;
}

ul.tag-links {
font-size: 0.9em;
list-style-type: none;
}

ul.tag-links li {
margin: 0 0 2px 0;
}

#warning {
margin: 0 auto 15px auto;
padding: 10px;
width: 30em;
font-size: 1.1em;
text-align: center;
color: inherit;
background-color: #fff4f4;
border: 2px solid #fdd;
}

/* global layout
----------------------------------------------- */

td.tabup, td.tabdown,
td.tabup2, td.tabdown2 {
padding-top: 6px;
width: 124px;
height: 25px;
font-size: 10px;
text-align: center;
}

td.tabdown {
color: inherit;
background: transparent url(txp_img/down.gif) no-repeat top left;
cursor: pointer;
}

td.tabdown2 {
color: inherit;
background: transparent url(txp_img/down2.gif) no-repeat top left;
cursor: pointer;
}

td.tabdown a {
color: #000;
background-color: transparent;
border: 0;
}

td.tabs {
height: 25px;
text-align: center;
color: inherit;
background: transparent url(txp_img/tabshadow.gif) repeat-x top left;
}

td.tabs td {
vertical-align: middle;
}

td.tabup, td.tabup2 {
color: inherit;
background: transparent url(txp_img/up.gif) no-repeat top left;
}

td.tabup a {
cursor: default;
}

/* setup
----------------------------------------------- */

table#setup td {
padding: 3px;
vertical-align: middle;
}

/* organize
----------------------------------------------- */

td.categories p {
margin: 6px auto 3px auto;
padding-top: 3px;
line-height: 1.6em;
border-top: 1px solid #ddd;
}

/* write
----------------------------------------------- */

td#article-col-1 {
width: 165px;
}

td#article-main {
width: 400px;
}

td#article-col-2 {
padding-left: 10px;
width: 200px;
}

textarea#body {
width: 400px;
height: 420px;
}

textarea#excerpt {
width: 400px;
height: 75px;
}

textarea#keywords {
width: 125px;
height: 80px;
}

/* comments
----------------------------------------------- */

tr.spam td, 
tr.spam a {
color: #666;
background-color: #f1f1f1;
}

tr.moderate td, 
tr.moderate a {
color: #900;
background-color: #fff8f8;
}

tr.spam a, tr.moderate a {
font-weight: bold;
}

/* pages
----------------------------------------------- */

textarea#html {
margin-top: 6px;
width: 600px;
height: 500px;
font: 10px Monaco, Courier, "Courier New", monospace;
}

/* style
----------------------------------------------- */

input.css {
margin: 0;
padding: 1px;
color: inherit;
background-color: #eee;
border-width: 1px;
border-style: solid;
border-color: #999 #fff #fff #999;
}

textarea#css {
width: 500px;
height: 515px;
}

/* plugins
----------------------------------------------- */

div#preview-plugin {
margin: 0 auto;
height: 300px;
overflow: auto;
}