:root {
    --txp-prism-token-1: light-dark(#708090, #f8f8f2);
    --txp-prism-token-2: light-dark(#905, #f92672);
    --txp-prism-token-3: light-dark(#690, #a6e22e);
    --txp-prism-token-4: light-dark(#a67f59, #f7f7d5);
    --txp-prism-token-5: light-dark(#07a, #e6db74);
    --txp-prism-token-6: light-dark(#dd4a68, #dd4a68);
    --txp-prism-token-7: light-dark(#e90, #fd971f);
    --txp-prism-token-8: light-dark(#663399, #ffdb58);
}
:root:has(body.darkmode) {
    color-scheme: dark;
}

.hidden{display:none}
.not-ready main{opacity:0}

/* Themes? */
/*
#pane-preview {
    margin: 1em 0; padding: 1em;
    &[data-mode='html'] {background: var(--clr-bkgd-box); outline: 1px solid var(--clr-brdr);}
}
*/
/*
@layer txp-preview {
    :host(#pane-preview) {
        color:red;
    }
}
*/