# BEGIN Textpattern

# Block access to directories without a default document.

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# Inhibit direct file downloads.

RewriteRule .*\.txp$ - [R=403,L]

# END Textpattern
