/*
Remora Theme for Textpattern CMS
Suckerfish menu: @see http://htmldog.com/articles/suckerfish/dropdowns/
*/

@import url("../classic/textpattern.css");

#masthead {
background: #FFCC33 url(../classic/textpattern.gif) no-repeat right center;
}

#nav {
overflow: auto;
padding: 0 0 0 10px;
margin: 0 auto;
width: 985px;
}

#nav, #nav ul {
list-style: none;
}

#nav a {
display: block;
height: 2.5em;
line-height: 2.5em;
color: #000;
padding: 0 10px;
}

#nav a:hover {
text-decoration: none;
background-color: #FFF;
}

#nav li {
float: left;
margin: 0 -1px 0 -1px;
line-height: 2.5em;
height: 2.5em;
}

#nav li.active {
font-weight: bold;
}

#nav li.active li {
font-weight: normal;
}

#nav li li.active {
font-weight: bold;
}

#nav li ul {
padding: 0 0 0.5em 0;
position: absolute;
width: 160px;
left: -999em;
background-color: white;
border-width: 0 1px 1px 1px;
border-style: solid;
border-color: #FFF #666 #666 #CCC;
margin: 0 -1px;
}

#nav li:hover, #nav li.sfhover {
position: static;
background-color: white;
border-right: 1px solid #666;
border-left: 1px solid #CCC;
margin: 0 -2px;
}

#nav li:hover ul, #nav li.sfhover ul {
left: auto;
}

#nav li ul li {
height: 2em;
width: 140px;
padding: 0;
}

#nav li ul li:hover, #nav li ul li.sfhover  {
border: none;
margin: 0 -1px;
}

#nav li ul li a {
padding: 0 10px;
width: 140px;
margin: 0;
}

#nav li ul li a:hover {
background-color: #FFFFCC;
border-left: 1px solid #CCC;
padding-left: 9px;
}

#messagepane {
background: white url(dropshadow.gif) repeat-x top left;
height: 2em;
line-height: 2em;
text-align: center;
}

div#end_page {
text-align: center;
margin: 4em 0 0;
}


