/* Base
   ========================================================================== */

/* correct `block` display not defined for any HTML5 element in IE 8-9
   correct `block` display not defined for `details` or `summary` in IE 10-11 and Firefox
   correct `block` display not defined for `main` in IE 11 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

/* address `[hidden]` styling not present in IE 8-10
   hide the `template` element in IE 8-11, Safari, Firefox < 22 */
[hidden],
template {
    display: none;
}

/* set correct display for `progress` in IE 8-9
   improve vertical alignment of `progress` in Chrome, Firefox, Opera */
progress {
    display: inline-block;
    vertical-align: baseline;
}

html {
    -webkit-tap-highlight-color: rgba(0, 102, 255, 0.5);
    /* prevents iOS text size adjust after orientation change, without disabling user zoom */
    -webkit-text-size-adjust: 100%;
    /* as above, for Windows Phone */
    -ms-text-size-adjust: 100%;
}

/* remove tap delay in IE 10+ (and proposed for other browsers) */
a,
input,
button {
    -ms-touch-action: none;
    touch-action: none;
}


/* Clearfix
   ========================================================================== */
.clearfix:after,
.txp-edit p:after,
.txp-tagbuilder p:after,
.txp-login p:after,
.edit-form p:after,
.prefs-form p:after {
    content: "";
    display: table;
    clear: both;
    border-collapse: collapse;
}

.clear {
    clear: both;
}


/* Layout grids
   ========================================================================== */

/* layout grid container - must only contain `.txp-layout-grid` or `.txp-layout-cell` components as children */
.txp-layout-grid {
    display: block;
    padding: 0;
    margin: 0 -1em;
    /* remove inter-unit whitespace for all non-monospace font-families */
    letter-spacing: -0.34em;
    /* protect against WebKit bug with optimizelegibility */
    text-rendering: optimizespeed;
}

/* Opera hack */
.opera:-o-prefocus,
.txp-layout-grid {
    word-spacing: -0.43em;
}

.txp-layout-grid > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 1em;
    /* reset text defaults */
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

/* layout grid cells - no explicit width by default, apply `.txp-layout-x-y` classes below */
.txp-layout-cell {
    display: inline-block;
    margin: 0;
    width: 100%;
    /* controls vertical positioning of units */
    vertical-align: top;
}

/* reset vertical margin on nested layout grids */
.txp-layout-grid .txp-layout-grid .grid__cell {
    margin-top: -1em;
}

/* proportional layout cells */
.txp-layout-1-4 {
    width: 25%;
}

.txp-layout-2-4 {
    width: 50%;
}

.txp-layout-3-4 {
    width: 75%;
}

/* text columns (fixed proportion cell) */
.txp-layout-textbox {
    margin: 0 auto;
    max-width: 58em;
}

.txp-layout-grid > div.txp-layout-textbox {
    padding: 0;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.text-column {
    margin: 0 auto;
    max-width: 58em;
}


/* Links
   ========================================================================== */

a {
    color: #963;
    text-decoration: none;
}

a:focus {
    outline: thin dotted #0066ff;
}

a:hover {
    text-decoration: underline;
}

a:hover,
a:active {
    outline: 0;
}

a.busy {
    visibility: hidden;
}

a.pophelp,
a.pophelpsubtle {
    border: 1px solid;
    border-color: #dddddd #bbbbbb #bbbbbb #dddddd;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0 2px;
    font-weight: normal;
    background-color: #f5f5f5;
}

h3 a {
    font-weight: bold;
}


/* Typography
   ========================================================================== */

body,
input,
textarea,
select,
button {
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: Cambria, Georgia, serif;
    font-weight: normal;
}

h1 {
    font-size: 2em; /* 24px / 12px */
    line-height: 1.25;
    margin: 0 0 0.5em 0;
}

h1 .pophelp {
    font-size: 0.5em;
}

h2 {
    font-size: 1.5em; /* 18px / 12px */
    line-height: 1.3333333;
    margin: 0 0 0.66667em 0;
}

h2 .pophelp {
    font-size: 0.6666667em;
}

h3 {
    font-size: 1.25em; /* 15px / 12px */
    line-height: 1.4;
    margin: 0 0 0.8em 0;
}

.txp-grid-cell h3 {
    margin-top: 0.8em;
}

/* address style set to `bolder` in Firefox 4+, Safari, Chrome */
b,
strong {
    font-weight: bold;
}

address {
    margin: 1em 0;
}

blockquote {
    margin: 1em 0;
    border-left: 3px solid #cccccc;
    padding: 0 0 0 1em;
}

/* address styling not present in Safari, Chrome */
dfn {
    font-style: italic;
}

/* address styling not present in IE 8-9, Safari 5, Chrome */
abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

mark,
var {
    background-color: #ffffcc;
}

pre,
code,
kbd,
samp,
.code {
    font-family: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
}

code,
kbd,
samp {
    border: 1px solid #e5e5e5;
    padding: 0 0.2em;
    background: #f5f5f5;
}

pre {
    border: 1px solid #e5e5e5;
    padding: 1em;
    background: #f5f5f5;
    tab-size: 4; /* set tab size to 4 spaces */
    overflow-x: auto;
}

pre code,
.code code,
code.body,
code.excerpt {
    border: 0;
    background-color: transparent;
}

code,
.code {
    direction: ltr;
}

/* prevent `<sub>` and `<sup>` affecting line height in all browsers */
sub,
sup {
    font-size: 0.8333333em; /* 10px / 12px */
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

small,
figcaption {
    font-size: 0.8333333em; /* 10px / 12px */
}


/* Support for non-latin languages
   ========================================================================== */

.ltr {
    direction: ltr;
}

html[lang="ja-jp"] {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

html[lang="ko-kr"] {
    font-family: GulimChe, Gulim, sans-serif;
}

html[lang="zh-cn"] {
    font-family: SimHei, sans-serif;
}

html[lang="zh-tw"] {
    font-family: PMingLiU, sans-serif;
}


/* Embedded content
   ========================================================================== */

/* remove border when inside `<a>` element in IE 8-10
   remove the gap between images and the bottom of their containers */
img {
    border: 0;
    vertical-align: middle;
}

img.align-left {
    float: left;
    margin: 1em 1em 1em 0;
}

img.align-right {
    float: right;
    margin: 1em 0 1em 1em;
}

img.align-center {
    display: block;
    margin: 1em auto;
}

/* address margin not present in IE 8-9, Safari 5 */
figure {
    margin: 0;
}

/* correct overflow not hidden in IE 9-11 */
svg:not(:root) {
    overflow: hidden;
}

.content-image {
    border: solid 1px #cccccc;
    padding: 4px;
    background: #ffffff;
}

a:hover .content-image {
    border: solid 1px #996633;
}


/* Messages
   ========================================================================== */

/* label colours */

.success {
    color: #008000;
}

.warning {
    color: #cb8f02;
}

.error {
    color: #c40000;
}

.information {
    color: #3a87ad;
}

.highlight {
    background-color: #fff8dd;
}

.alert-block {
    margin: 0 auto 1em auto;
    padding: 0.5em 1em;
}

.alert-block.success {
    border: 1px solid #a3d48e;
    background: #dff0d8;
}

.alert-block.warning {
    border: 1px solid #ffe16d;
    background: #fff6d3;
}

.alert-block.error {
    border: 1px solid #e1b2b2;
    background: #f2dede;
}

.alert-block.information {
    border: 1px solid #b1e2f5;
    background: #e7f6fc;
}

/* alert boxes */

#messagepane {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

#messagepane span {
    position: relative;
    display: block;
    padding: 0.5em 2em;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: 0 -0.25em 0.4em rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 -0.25em 0.4em rgba(0, 0, 0, 0.15);
    box-shadow: 0 -0.25em 0.4em rgba(0, 0, 0, 0.15);
}

#messagepane span.success {
    background: #008000;
}

#messagepane span.warning {
    background: #cb8f02;
}

#messagepane span.error {
    background: #c40000;
}

/* close icon */

.close {
    position: absolute;
    top: 0.25em;
    right: 1em;
    font-size: 1.25em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.close:hover {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}


/* Collapsible and non-collapsible regions
   ========================================================================== */

.txp-details {
    border-bottom: 1px solid #dddddd;
}

.txp-details .txp-details:last-of-type {
    border-bottom: 0;
}

.txp-details h3 {
    margin: 1em 0;
    color: #996633;
    font-size: 1em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

.txp-summary a {
    padding: 0 0 0 12px;
    background: url("img/expand-collapse.svg") no-repeat 0 4px;
}

.txp-summary.expanded a {
    background-position: 0 -90px;
}


/* Forms
   ========================================================================== */

/* define consistent fieldset margin, border and padding */
fieldset {
    margin: 0 0 0.25em 0;
    border: 1px solid #dddddd;
    padding: 1px 0.5em;
    min-width: 0; /* address width being affected by wide descendants in Chrome and Firefox */
}

/* remove padding so people aren't caught out if they zero out fieldsets */
legend {
    margin: 1em 0;
    color: #996633;
    border: 0;
    padding: 0;
    font-weight: bold;
}

/* colour placeholder text (Webkit) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888888;
}

/* colour placeholder text (Mozilla) */
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #888888;
}

/* remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* remove inner padding and search cancel button in Safari 5+ and Chrome on OS X */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin: 0;
    border: 1px solid;
    border-color: #bbbbbb #dddddd #dddddd #bbbbbb;
    padding: 0.25em;
    max-width: 100%;
    background-color: #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

input[type="color"] {
    padding: 0;
}

/* fix the cursor style for Chrome's increment/decrement buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/* addresses box sizing set to content-box and excess padding in IE 8-9 */
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

/* address inconsistent `text-transform` inheritance for `select` in Firefox 4+ */
select {
    text-transform: none;
}

/* address `<select>` alignment in Safari, Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {

    select[size],
    select[multiple],
    select[multiple][size] {
        background-image: none;
        padding-right: 0.25em;
    }

    select,
    select[size="0"],
    select[size="1"] {
        background: #f5f5f5 url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='11px' height='4px' viewBox='0 0 11 4' enable-background='new 0 0 11 4' xml:space='preserve'><polygon fill='#333333' points='3.5,4 0,0 7,0'/></svg>") no-repeat right center;
        padding-right: 16px;
    }

}

optgroup {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #000000;
}

/* kill phantom spacing and dotted border that appears in Firefox */
optgroup::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    width: 100%;
    min-height: 5.1818182em;
    resize: vertical;
    overflow: auto; /* removes default vertical scrollbar in IE 8-11 */
}

/* make sure disable elements really are disabled */
button[disabled],
input[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.navlink-disabled {
    opacity: 1; /* overrides iOS opacity setting */
    border-color: #e5e5e5 !important;
    color: #bbbbbb !important;
    background-color: #fafafa !important;
    cursor: default;
}

/* additional input field widths */

input[size="32"] {
    width: 100%;
    max-width: 30.5em;
}

input.input-large {
    width: 100%;
}

input.input-medium {
    width: 50%;
    max-width: 15.75em;
}

input.input-small {
    width: 25%;
    max-width: 8.25em;
}

input.input-xsmall {
    width: 18%;
    max-width: 4.5em;
}

input.year,
input.exp_year {
    width: 4.5em;; /* 54px / 12px */
    text-align: center;
}

input.month,
input.exp_month,
input.day,
input.exp_day,
input.hour,
input.exp_hour,
input.minute,
input.exp_minute,
input.second,
input.exp_second {
    width: 2.6666667em; /* 32px / 12px */
    text-align: center;
}


/* Buttons
   ========================================================================== */

/* address inconsistent `text-transform` inheritance for `button` in Chrome, Safari 5+, IE 6+
   address `overflow` set to `hidden` in IE 8-10. */
button {
    text-transform: none;
    overflow: visible;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.action-create a,
.navlink,
.navlink-active,
.txp-buttons a {
    display: inline-block;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    cursor: pointer;
    margin: 0;
    border: 1px solid;
    border-color: #dddddd #bbbbbb #bbbbbb #dddddd;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 0.25em 0.75em;
    width: auto;
    text-decoration: none;
    color: #000000;
    vertical-align: baseline;
    background-color: #dddddd;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.action-create a:hover,
.navlink:hover,
.navlink-active:hover,
.txp-buttons a:hover {
    text-decoration: none;
    background-color: #eeeeee;
}

button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active,
.action-create a:active,
.navlink:active,
.navlink-active:active,
.txp-buttons a:active {
    background-color: #cccccc;
}

.navlink-disabled {
    border: 1px solid;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    display: inline-block;
}

input[type="submit"].publish,
button.publish {
    border-color: #bb0000 #660000 #660000 #bb0000;
    color: #ffffff;
    background-color: #990000;
}

input[type="submit"].publish:hover,
button.publish:hover {
    background-color: #bb0000;
}

input[type="submit"].publish:active,
button.publish:active {
    background-color: #770000;
}

input[type="submit"].destroy,
button.destroy {
    margin: 0;
    padding: 0 0.25em;
    width: 1.6em;
}

form.busy input[type="submit"] {
    border-color: #f0f0f0;
    color: #bbbbbb;
    background-color: #f0f0f0;
}

.edit-image-replace input[type="submit"],
.edit-upload-thumbnail input[type="submit"],
.edit-alter-thumbnail input[type="submit"],
.edit-file-replace input[type="submit"] {
    float: right;
}

/* button sets */

ul.nav-tertiary {
    list-style: none;
    padding: 0;
}

[dir="rtl"] ul.nav-tertiary {
    padding: 0;
}

ul.nav-tertiary > li {
    display: inline;
}

.nav-tertiary a,
.nav-tertiary .navlink-disabled,
.prev-next a,
.prev-next .navlink-disabled {
    -moz-border-radius: 0;
    border-radius: 0;
}

.nav-tertiary > :first-child > a,
.nav-tertiary > :first-child > span,
.nav-tertiary > :first-child,
.prev-next > :first-child {
    -moz-border-radius-topleft: 0.5em;
    border-top-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.nav-tertiary > :last-child > a,
.nav-tertiary > :last-child > span,
.nav-tertiary > :last-child,
.prev-next > :last-child {
    -moz-border-radius-topright: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    border-bottom-right-radius: 0.5em;
}

[dir="rtl"] .nav-tertiary > :first-child > a,
[dir="rtl"] .nav-tertiary > :first-child > span,
[dir="rtl"] .nav-tertiary > :first-child,
[dir="rtl"] .prev-next > :first-child {
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-topright: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    border-bottom-right-radius: 0.5em;
}

[dir="rtl"] .nav-tertiary > :last-child > a,
[dir="rtl"] .nav-tertiary > :last-child > span,
[dir="rtl"] .nav-tertiary > :last-child,
[dir="rtl"] .prev-next > :last-child {
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-border-radius-topleft: 0.5em;
    border-top-left-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.nav-tertiary .navlink-active {
    background-color: #eeeeee;
}


/* Lists
   ========================================================================== */

/* address padding set differently */
menu,
ol,
ul {
    padding: 0 0 0 2.3em;
}

[dir="rtl"] menu,
[dir="rtl"] ol,
[dir="rtl"] ul {
    padding: 0 2.3em 0 0;
}

ul {
    list-style: circle;
}

/* remove margins from nested lists */
li > ul,
li > ol {
    margin: 0;
}

dd {
    margin: 0 0 0 2.3em;
}

[dir="rtl"] dd {
    margin: 0 2.3em 0 0;
}

dt {
    font-style: italic;
}

.plain-list {
    list-style: none;
    padding: 0;
}

[dir="rtl"] .plain-list {
    padding: 0; /* required for specificity */
}

.switcher-list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.switcher-list li {
    position: relative;
    margin: 0;
    border-top: 1px solid #ddd;
    padding: 0.3em 2.5em 0.3em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.switcher-action,
.switcher-list .destroy {
    position: absolute;
    z-index: 2;
    right: 0;
}

.switcher-action {
    top: 0.25em;
}

.switcher-list .destroy {
    top: 0.2em;
}


/* Tables
   ========================================================================== */

/* consistent tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    text-align: left;
    margin-bottom: 0.5em;
}

[dir="rtl"] caption {
    text-align: right;
}

/* make table cells align top and left by default, remove any cellpadding */
th,
td {
    text-align: left;
    vertical-align: top;
}

[dir="rtl"] th,
[dir="rtl"] td {
    text-align: right;
}

.txp-list {
    margin: 0 0 1em 0;
    width: 100%;
}

.txp-list th,
.txp-list td {
    padding: 0.3em 1em 0.3em 0;
}

[dir="rtl"] .txp-list th,
[dir="rtl"] .txp-list td {
    padding: 0.3em 0 0.3em 1em;
}

.txp-list td:last-child {
    padding-right: 0;
}

[dir="rtl"] .txp-list td:last-child {
    padding-left: 0;
}

.txp-list thead th,
.txp-list thead td {
    vertical-align: bottom;
}

.txp-list thead a {
    margin-right: 14px;
}

[dir="rtl"] .txp-list thead a {
    margin-right: 0;
    margin-left: 14px;
}

.txp-list thead .asc a,
.txp-list thead .desc a {
    margin-right: 0;
    padding-right: 14px;
    background: url("img/arrow-up-down.svg") no-repeat;
}

[dir="rtl"] .txp-list thead .asc a,
[dir="rtl"] .txp-list thead .desc a {
    padding-right: 0;
    padding-left: 14px;
}

.txp-list thead .asc a {
    background-position: right 2px;
}

[dir="rtl"] .txp-list thead .asc a {
    background-position: left 2px;
}

.txp-list thead .desc a {
    background-position: right -36px;
}

[dir="rtl"] .txp-list thead .desc a {
    background-position: left -36px;
}

.txp-list tbody {
    border-top: 1px solid #dddddd;
}

.txp-list tbody th,
.txp-list tbody td {
    border-bottom: 1px solid #dddddd;
}

.txp-list tbody th {
    font-weight: normal;
}

.txp-list tbody tr.selected {
    background: #f3f3f3;
}

.txp-list .multi-edit, /* deprecated, use `.txp-list-col-multi-edit` instead */
.txp-list-col-multi-edit {
    width: 18px;
}

.txp-list .id, /* deprecated, use `.txp-list-col-id` instead */
.txp-list-col-id {
    white-space: nowrap;
}


/* Container
   ========================================================================== */

body {
    margin: 0 0 3.5em 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
}

.txp-body {
    margin: 0 auto 1.5em;
    padding: 0 2em;
    min-width: 76em;
    max-width: 116em;
}


/* Header
   ========================================================================== */

.txp-header {
    min-width: 80em;
    margin-bottom: 1.5em;
}

#masthead {
    height: 2.5em;
    border-top: 1px solid #f8c225;
    border-bottom: 1px solid #d9a307;
    background-color: #ffda44;
    background-image: -webkit-linear-gradient(#ffda44, #f8c225);
    background-image: -moz-linear-gradient(#ffda44, #f8c225);
    background-image: -o-linear-gradient(#ffda44, #f8c225);
    background-image: linear-gradient(#ffda44, #f8c225);
}

#branding {
    font-size: 1em;
    margin: 0 2em;
    width: 9em;
    height: 2.5em;
    line-height: 2.5;
    text-indent: -9999px;
    background: url("img/textpattern.svg") no-repeat 0 50%;
    background-size: 9em 2em;
}


/* Navigation
   ========================================================================== */

#navpop {
    float: right;
    margin: 0.2em 2em;
}

[dir="rtl"] #navpop {
    float: left;
}

.nav-tabs {
    text-align: center;
}

.nav-tabs ul {
    list-style: none;
    margin: 0.5em 0 0;
    border-bottom: 1px solid #cccccc;
    padding: 0;
    -webkit-box-shadow: inset 0 -0.25em 0.4em rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -0.25em 0.4em rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -0.25em 0.4em rgba(0, 0, 0, 0.15);
}

.nav-tabs li {
    display: inline-block;
}

.nav-tabs a {
    display: block;
    position: relative;
    bottom: -1px;
    border: 1px solid #dddddd;
    border-bottom: 0;
    -moz-border-radius-topright: 0.75em 2em;
    border-top-right-radius: 0.75em 2em;
    -moz-border-radius-topleft: 0.75em 2em;
    border-top-left-radius: 0.75em 2em;
    padding: 0.2em 1.5em;
    text-decoration: none;
    color: #000000;
    background-color: #fff8dd;
    -webkit-box-shadow: inset 0 -0.2em 0.4em rgba(219, 203, 141, 0.5), 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -0.2em 0.4em rgba(219, 203, 141, 0.5), 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -0.2em 0.4em rgba(219, 203, 141, 0.5), 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);
}

.nav-tabs a:hover {
    background-color: #ffffff;
}

.nav-tabs a.tabup {
    background-color: #ffffff;
    -webkit-box-shadow: 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);
    box-shadow: 0 -0.15em 0.15em rgba(0, 0, 0, 0.1);
    cursor: default;
}


/* Footer
   ========================================================================== */

.txp-footer {
    min-width: 80em;
    text-align: center;
}

.txp-footer p {
    margin: 0;
}


/* Miscellaneous/shared layout
   ========================================================================== */

/* Hide text but still allow screen reader access */
.txp-accessibility {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

[dir="rtl"] .txp-accessibility {
    left: auto;
    right: -1000em;
}

.txp-control-panel {
    text-align: center;
}

.txp-actions a {
    margin-left: 0.75em;
}

.multi-edit {
    margin: 1em 0;
}

.multi-option {
    display: none;
}

.multi-step {
    display: inline-block;
    margin-left: 0.4em;
}

/* TO BE REMOVED */
.txp-columntable {
    width: 100%;
}

.prev-next,
.pageby {
    text-align: center;
}

/* inline grids */

.txp-grid {
    text-align: center;
    margin-bottom: 0.5em;
}

.txp-grid-cell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    max-width: 26em;
    vertical-align: top;
    margin: 0 0.125em 0.25em;
    border: 1px solid #cccccc;
    padding: 0 1em;
    display: inline-block;
}

[dir="rtl"] .txp-grid-cell {
    text-align: right;
}

.restricted-area {
    margin: 3em auto auto;
    text-align: center;
}

.empty {
    display: none;
}

.disabled {
    opacity: 0.33;
}

/* AJAX spinner */
span.spinner {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("img/spinner.gif");
}

@media print,
    (-webkit-min-device-pixel-ratio: 2),
    (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    span.spinner {
        background-image: url("img/spinner@2x.gif") !important;
        background-size: 13px 13px;
    }
}


/* Edit and login panes
   ========================================================================== */

.txp-edit,
.txp-tagbuilder,
.txp-login {
    margin: 0 auto 1em;
    border: 1px solid #e5e5e5;
    padding: 1em 1em 1px 1em;
}

.txp-edit {
    width: 56em;
}

.txp-tagbuilder {
    width: 28em;
}

.txp-login {
    width: 34em;
}

.txp-label,
.txp-value {
    display: inline-block;
    float: left;
    width: 50%;
}

[dir="rtl"] .txp-label,
[dir="rtl"] .txp-value {
    float: right;
}

.txp-login .txp-label {
    width: 31%;
}

.txp-login .txp-value {
    width: 69%;
}

.txp-value input,
.txp-value select {
    margin-top: -0.25em;
    margin-bottom: -0.25em;
}

.txp-value-fixed {
    display: inline-block;
    padding: 0.25em 0;
}

/* deprecated @ 4.6 */
.edit-label {
    display: inline-block;
    float: left;
    width: 45%;
}

/* deprecated @ 4.6 */
.edit-value {
    display: inline-block;
    float: right;
    width: 55%;
}

/* deprecated @ 4.6 */
.edit-value input,
.edit-value select {
    margin-top: -0.25em;
    margin-bottom: -0.25em;
}


/* Tag builder page
   ========================================================================== */

#tag-event {
    margin: 0;
    padding: 1em 1em 1px;
}


/* Content -> Categories page
   ========================================================================== */

.category-tree p {
    margin: 0;
    border-bottom: 1px solid #dddddd;
    padding: 0.3em 0;
}

.category-tree p:first-child {
    border-top: 1px solid #dddddd;
}


/* Content -> Write page
   ========================================================================== */

#view_modes ul {
    list-style: none;
    padding: 0;
}

#view_modes li {
    display: inline-block;
    margin: 0 0.75em 0 0;
    border: 1px solid #cccccc;
    width: 24px;
    height: 24px;
}

[dir="rtl"] #view_modes li {
    margin: 0 0 0 0.75em;
}

#view_modes a {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 24px;
    height: 24px;
    background: #fff8dd no-repeat 50% 50%;
    background-size: 24px 24px;
}

#view_modes a:hover,
#view_modes li.active a {
    background-color: #ffffff;
}

#tab-text a {
    background-image: url("img/view-text.svg");
}

#tab-html a {
    background-image: url("img/view-html.svg");
}

#tab-preview a {
    background-image: url("img/view-preview.svg");
}

.view-mode:hover,
#tab-textup,
#tab-htmlup,
#tab-previewup {
    background-color: #ffffff;
}

#main_content #title {
  width: 66%;
}


/* Content -> Articles page
   ========================================================================== */

.unpublished {
    color: #888888;
}


/* Content -> Images page
   ========================================================================== */

.fullsize-image {
    text-align: center;
    margin-bottom: 1em;
}

.fullsize-image img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.thumbnail-edit {
    overflow-x: auto;
    margin-bottom: 1em;
}

.thumbnail-edit form {
    vertical-align: top;
    display: inline-block;
}


/* Content -> Comments page
   ========================================================================== */

tr.spam {
    background: #fff4f4;
}

tr.moderate {
    background: #fff8dd;
}


/* Admin -> Languages page
   ========================================================================== */

#language_control {
    text-align: left;
}

[dir="rtl"] #language_control {
    text-align: right;
}

#page-lang .modified {
    font-style: italic;
    color: #aaaaaa;
}

#textpack-install {
    width: 34em;
}


/* Admin -> Plugins page
   ========================================================================== */

tr .manage span,
tr .plugin-prefs {
    visibility: hidden;
}

tr.active .manage span,
tr.active .plugin-prefs {
    visibility: visible;
}

#plugin-install {
    width: 34em;
}

#plugin_preview {
    margin: 0 auto;
    max-width: 65%;
}

div.code {
    margin-bottom: 1em;
    padding: 0.25em;
    height: 24em;
    overflow: auto;
    background-color: #f5f5f5;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.plugin-column {
    margin: 0 auto;
    max-width: 58em;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.plugin-column p:after {
    content: "";
    display: table;
    clear: both;
}
