/* Base
   ========================================================================== */

/* corrects block display not defined in IE8-9 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

/* addresses styling for 'hidden' attribute not present in IE8-9 */
[hidden] {
	display: none;
}

html {
	-webkit-tap-highlight-color: rgba(0, 102, 255, 0.5);
	/* prevents iOS text size adjust after orientation change, without disabling user zoom */
	-webkit-text-size-adjust: 100%;
	/* as above, for Windows Phone */
	-ms-text-size-adjust: 100%;
}


/* Clearfix
   ========================================================================== */
.clearfix:after,
.txp-edit p:after,
.txp-login p:after,
.edit-form p:after,
.prefs-form p:after {
	content: "";
	display: table;
	clear: both;
	border-collapse: collapse;
}

.clear {
	clear: both;
}


/* Layout grids
   ========================================================================== */

/* layout grid container - must only contain `.txp-layout-grid` or `.txp-layout-cell` components as children */
.txp-layout-grid {
	display: block;
	padding: 0;
	margin: 0 -1em;
	/* ensure consistent default alignment */
	text-align: left;
	/* remove inter-unit whitespace for all non-monospace font-families */
	letter-spacing: -0.34em;
	/* protect against WebKit bug with optimizelegibility */
	text-rendering: optimizespeed;
}

/* Opera hack */
.opera:-o-prefocus,
.txp-layout-grid {
	word-spacing: -0.43em;
}

.txp-layout-grid > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 1em;
	/* reset text defaults */
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
}

/* layout grid cells - no explicit width by default, apply `.txp-layout-x-y` classes below */
.txp-layout-cell {
	display: inline-block;
	margin: 0;
	width: 100%;
	/* controls vertical positioning of units */
	vertical-align: top;
	/* keeps unit content correctly aligned */
	text-align: left;
}

/* reset vertical margin on nested layout grids */
.txp-layout-grid .txp-layout-grid .grid__cell {
	margin-top: -1em;
}

/* proportional layout cells */
.txp-layout-1-4 {
	width: 25%;
}

.txp-layout-2-4 {
	width: 50%;
}

.txp-layout-3-4 {
	width: 75%;
}

/* text columns (fixed proportion cell) */
.txp-layout-textbox {
	margin: 0 auto;
	max-width: 58em;
}

.txp-layout-grid > div.txp-layout-textbox {
	padding: 0;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.text-column {
	margin: 0 auto;
	max-width: 58em;
}


/* Links
   ========================================================================== */

a {
	color: #963;
	text-decoration: none;
}

a:focus {
	outline: thin dotted #0066ff;
}

a:hover {
	text-decoration: underline;
}

a:hover,
a:active {
	outline: 0;
}

a.busy {
	visibility: hidden;
}

a.pophelp,
a.pophelpsubtle {
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 0 2px;
	font-weight: normal;
	background-color: #f5f5f5;
}

h3 a {
	font-weight: bold;
}


/* Typography
   ========================================================================== */

body,
input,
textarea,
select,
button {
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

h1,
h2,
h3 {
	font-family: Cambria, Georgia, serif;
	font-weight: normal;
}

h1 {
	font-size: 2em; /* 24px / 12px */
	line-height: 1.25;
	margin: 0 0 .5em 0;
}

h1 .pophelp {
	font-size: .5em;
}

h2 {
	font-size: 1.5em; /* 18px / 12px */
	line-height: 1.33333;
	margin: 0 0 .66667em 0;
}

h2 .pophelp {
	font-size: .66667em;
}

h3 {
	font-size: 1.25em; /* 15px / 12px */
	line-height: 1.4;
	margin: 0 0 .8em 0;
}

.txp-grid-cell h3 {
	margin-top: .8em;
}

/* addresses style set to 'bolder' in Firefox4+, Safari5, and Chrome */
b,
strong {
	font-weight: bold;
}

address {
	margin: 1em 0;
}

blockquote {
	margin: 1em 0;
	border-left: 3px solid #cccccc;
	padding: 0 0 0 1em;
}

/* sets consistent quote types */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/* addresses styling not present in Safari5 and Chrome */
dfn {
	font-style: italic;
}

/* addresses styling not present in IE8-9, Safari5, Chrome */
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark,
var {
	background-color: #ffc;
}

pre,
code,
kbd,
samp,
.code {
	font-family: Monaco, "Lucida Console", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
}

code,
kbd,
samp {
	border: 1px solid #e5e5e5;
	padding: 0 .2em;
	background: #f5f5f5;
}

pre {
	border: 1px solid #e5e5e5;
	padding: 1em;
	background: #f5f5f5;
	tab-size: 4; /* set tab size to 4 spaces */
	overflow-x: auto;
}

.code {
	padding: .2em;
}

pre code,
.code code,
code.body,
code.excerpt {
	border: 0;
	background-color: transparent;
}

/* prevents sub and sup affecting line-height in all browsers */
sub,
sup {
	font-size: .83333em; /* 10px / 12px */
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

small,
figcaption {
	font-size: .83333em; /* 10px / 12px */
}


/* Support for non-latin languages
   ========================================================================== */

html[lang="ja-jp"] {
	font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

html[lang="ko-kr"] {
	font-family: GulimChe, Gulim, sans-serif;
}

html[lang="zh-cn"] {
	font-family: SimHei, sans-serif;
}

html[lang="zh-tw"] {
	font-family: PMingLiU, sans-serif;
}


/* Embedded content
   ========================================================================== */

/* removes border when inside 'a' element in IE8-9 */
img {
	border: 0;
}

img.align-left {
	float: left;
	margin: 1em 1em 1em 0;
}

img.align-right {
	float: right;
	margin: 1em 0 1em 1em;
}

img.align-center {
	display: block;
	margin: 1em auto;
}

/* addresses margin not present in IE 8-9 and Safari 5 */
figure {
	margin: 0;
}

/* corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}

.content-image {
	border: solid 1px #cccccc;
	padding: 4px;
	background: #fff;
}

a:hover .content-image {
	border: solid 1px #963;
}


/* Messages
   ========================================================================== */

/* label colours */

.success {
	color: #008000;
}

.warning {
	color: #cb8f02;
}

.error {
	color: #c40000;
}

.information {
	color: #3a87ad;
}

.highlight {
	background-color: #fff8dd;
}

.alert-block {
	margin: 0 auto 1em auto;
	padding: .5em 1em;
}

.alert-block.success {
	border: 1px solid #a3d48e;
	background: #dff0d8;
}

.alert-block.warning {
	border: 1px solid #ffe16d;
	background: #fff6d3;
}

.alert-block.error {
	border: 1px solid #e1b2b2;
	background: #f2dede;
}

.alert-block.information {
	border: 1px solid #b1e2f5;
	background: #e7f6fc;
}

/* alert boxes */

#messagepane {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

#messagepane span {
	position: relative;
	display: block;
	padding: .5em 2em;
	color: #fff;
	text-align: center;
	-webkit-box-shadow: 0 -.25em .4em rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 -.25em .4em rgba(0, 0, 0, .15);
	box-shadow: 0 -.25em .4em rgba(0, 0, 0, .15);
}

#messagepane span.success {
	background: #008000;
}

#messagepane span.warning {
	background: #cb8f02;
}

#messagepane span.error {
	background: #c40000;
}

/* close icon */

.close {
	position: absolute;
	top: .25em;
	right: 1em;
	font-size: 1.25em;
	text-decoration: none;
	color: #ccc;
	font-weight: bold;
}

.rgba .close {
	color: rgba(255, 255, 255, 0.5);
}

.close:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}


/* Collapsible and non-collapsible regions
   ========================================================================== */

.txp-details {
	border-bottom: 1px solid #ddd;
}

.txp-details .txp-details:last-of-type {
	border-bottom: 0;
}

.txp-details h3 {
	margin: 1em 0;
	color: #963;
	font-size: 1em;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
}

.txp-summary a {
	padding: 0 0 0 12px;
	background: no-repeat 0 4px;
}

.no-svg .txp-summary a {
	background-image: url("img/expand-collapse.gif");
}

.svg .txp-summary a {
	background-image: url("img/expand-collapse.svg");
}

.txp-summary.expanded a {
	background-position: 0 -90px;
}


/* Forms
   ========================================================================== */

/* define consistent fieldset margin, border and padding */
fieldset {
	margin: 0 0 .25em 0;
	border: 1px solid #ddd;
	padding: 1px .5em;
}

/* remove padding so people aren't caught out if they zero out fieldsets */
legend {
	margin: 1em 0;
	color: #963;
	border: 0;
	padding: 0;
	font-weight: bold;
}

/* colour placeholder text (Webkit) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #999;
}

/* colour placeholder text (Mozilla) */
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #999;
}

/* colour placeholder text when using polyfill */
span.placeholder {
	color: #999;
}

/* removes inner padding and search cancel button in Safari5+ and Chrome on OS X */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-background-clip: padding;
	-khtml-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	margin: 0;
	border: 1px solid;
	border-color: #bbb #ddd #ddd #bbb;
	padding: .25em;
	max-width: 100%;
	background-color: #f5f5f5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: baseline;
}

textarea {
	width: 100%;
	min-height: 5.18181818181818em;
	resize: vertical;
	overflow: auto; /* removes default vertical scrollbar in IE8-9 */
}

/* addresses select alignment in Safari/Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {
	select,
	select[size="0"],
	select[size="1"] {
		background: #f5f5f5 url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='11px' height='4px' viewBox='0 0 11 4' enable-background='new 0 0 11 4' xml:space='preserve'><polygon fill='#333333' points='3.5,4 0,0 7,0'/></svg>") no-repeat right center;
		padding-right: 16px;
	}

	select[size],
	select[multiple],
	select[multiple][size] {
		background-image: none;
		padding-right: .25em;
	}
}

optgroup {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #000;
}

/* kill phantom spacing and dotted border that appears in Firefox */
optgroup::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* addresses box sizing set to content-box and excess padding in IE8-9 */
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/* make sure disable elements really are disabled */
button[disabled],
input[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.navlink-disabled {
	opacity: 1; /* overrides iOS opacity setting */
	border-color: #e5e5e5 !important;
	color: #bbb !important;
	background-color: #fafafa !important;
	cursor: default;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
}

/* additional input field widths */

input[size="32"] {
	width: 100%;
	max-width: 30.5em;
}

input.input-large {
	width: 100%;
}

input.input-medium {
	width: 50%;
	max-width: 15.75em;
}

input.input-small {
	width: 25%;
	max-width: 8.25em;
}

input.input-xsmall {
	width: 18%;
	max-width: 4.5em;
}

input.year,
input.exp_year {
	width: 4.5em;; /* 54px / 12px */
	text-align: center;
}

input.month,
input.exp_month,
input.day,
input.exp_day,
input.hour,
input.exp_hour,
input.minute,
input.exp_minute,
input.second,
input.exp_second {
	width: 2.66667em; /* 32px / 12px */
	text-align: center;
}


/* Buttons
   ========================================================================== */

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.action-create a,
.navlink,
.navlink-active,
.txp-buttons a {
	display: inline-block;
	-webkit-appearance: none;
	-webkit-background-clip: padding;
	-khtml-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	cursor: pointer;
	margin: 0;
	border: 1px solid;
	border-color: #ddd #bbb #bbb #ddd;
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding: .25em .75em;
	width: auto;
	text-decoration: none;
	color: #000;
	vertical-align: baseline;
	background-color: #ddd;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3);
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.action-create a:hover,
.navlink:hover,
.navlink-active:hover,
.txp-buttons a:hover {
	text-decoration: none;
	background-color: #eee;
}

button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active,
.action-create a:active,
.navlink:active,
.navlink-active:active,
.txp-buttons a:active {
	background-color: #ccc;
}

.navlink-disabled {
	border: 1px solid;
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding: .25em .5em;
	display: inline-block;
}

input[type="submit"].publish,
button.publish {
	border-color: #b00 #600 #600 #b00;
	color: #fff;
	background-color: #900;
}

input[type="submit"].publish:hover,
button.publish:hover {
	background-color: #b00;
}

input[type="submit"].publish:active,
button.publish:active {
	background-color: #700;
}

input[type="submit"].destroy,
button.destroy {
	margin: 0;
	padding: 0 .25em;
	width: 1.6em;
}

form.busy input[type="submit"] {
	border-color: #f0f0f0;
	color: #bbb;
	background-color: #f0f0f0;
}

.edit-image-replace input[type="submit"],
.edit-upload-thumbnail input[type="submit"],
.edit-alter-thumbnail input[type="submit"],
.edit-file-replace input[type="submit"] {
	float: right;
}

/* button sets */

ul.nav-tertiary {
	list-style: none;
	padding: 0;
}

ul.nav-tertiary > li {
	display: inline;
}

.nav-tertiary a,
.nav-tertiary .navlink-disabled,
.prev-next a,
.prev-next .navlink-disabled {
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-tertiary > :first-child > a,
.nav-tertiary > :first-child > span,
.nav-tertiary > :first-child,
.prev-next > :first-child {
	-moz-border-radius-topleft: .5em;
	border-top-left-radius: .5em;
	-moz-border-radius-bottomleft: .5em;
	border-bottom-left-radius: .5em;
}

.nav-tertiary > :last-child > a,
.nav-tertiary > :last-child > span,
.nav-tertiary > :last-child,
.prev-next > :last-child {
	-moz-border-radius-topright: .5em;
	border-top-right-radius: .5em;
	-moz-border-radius-bottomright: .5em;
	border-bottom-right-radius: .5em;
}

.nav-tertiary .navlink-active {
	background-color: #eee;
}


/* Lists
   ========================================================================== */

/* addresses paddings set differently */
ul,
ol {
	padding: 0 0 0 2.3em;
}

ul {
	list-style: circle;
}

/* remove margins from nested lists */
dl dl,
ul ul,
ol ol {
	margin: 0;
}

dd {
	margin: 0 0 0 2.3em;
}

dt {
	font-weight: bold;
}

.plain-list {
	list-style: none;
	padding-left: 0;
}

.switcher-list {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.switcher-list li {
	position: relative;
	margin: 0;
	border-top: 1px solid #ddd;
	padding: .3em 2.5em .3em 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.switcher-action,
.switcher-list .destroy {
	position: absolute;
	z-index: 2;
	right: 0;
}

.switcher-action {
	top: .25em;
}

.switcher-list .destroy {
	top: .2em;
}


/* Tables
   ========================================================================== */

/* consistent tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption {
	text-align: left;
	margin-bottom: .5em;
}

/* make table cells align top and left by default, remove any cellpadding */
th,
td {
	text-align: left;
	vertical-align: top;
}

.txp-list {
	margin: 0 0 1em 0;
	width: 100%;
}

.txp-list th,
.txp-list td {
	padding: .3em 1em .3em 0;
}

.txp-list td:last-child {
	padding-right: 0;
}

.txp-list thead th,
.txp-list thead td {
	vertical-align: bottom;
}

.txp-list thead a {
	margin-right: 14px;
}

.txp-list thead .asc a,
.txp-list thead .desc a {
	margin-right: 0;
	padding-right: 14px;
	background-repeat: no-repeat;
}

.no-svg .txp-list thead .asc a,
.no-svg .txp-list thead .desc a {
	background-image: url("img/arrow-up-down.gif");
}

.svg .txp-list thead .asc a,
.svg .txp-list thead .desc a {
	background-image: url("img/arrow-up-down.svg");
}

.txp-list thead .asc a {
	background-position: right 2px;
}

.txp-list thead .desc a {
	background-position: right -36px;
}

.txp-list tbody {
	border-top: 1px solid #ddd;
}

.txp-list tbody th,
.txp-list tbody td {
	border-bottom: 1px solid #ddd;
}

.txp-list tbody th {
	font-weight: normal;
}

.txp-list tbody tr.selected {
	background: #f3f3f3;
}

.txp-list .multi-edit {
	width: 18px;
}

.txp-list td.id {
	white-space: nowrap;
}


/* Container
   ========================================================================== */

body {
	margin: 0 0 3.5em 0;
	padding: 0;
	color: #000;
	background-color: #fff;
}

.txp-body {
	margin: 0 auto 1.5em;
	padding: 0 2em;
	min-width: 76em;
	max-width: 116em;
}


/* Header
   ========================================================================== */

.txp-header {
	min-width: 80em;
	margin-bottom: 1.5em;
}

#masthead {
	height: 2.5em;
	border-top: 1px solid #f8c225;
	border-bottom: 1px solid #d9a307;
	background-color: #ffda44;
	/* Safari5.1+, Chrome10+ */
	background-image: -webkit-linear-gradient(#ffda44, #f8c225);
	/* Firefox3.6 */
	background-image: -moz-linear-gradient(#ffda44, #f8c225);
	/* Opera11.10+ */
	background-image: -o-linear-gradient(#ffda44, #f8c225);
	/* CSS3 Compliant */
	background-image: linear-gradient(#ffda44, #f8c225);
}

#branding {
	font-size: 1em;
	margin: 0 0 0 2em;
	width: 9em;
	height: 2.5em;
	line-height: 2.5;
	text-indent: -9999px;
	background: no-repeat 0 50%;
}

.no-svg #branding {
	background-image: url("img/textpattern.png");
}

.svg #branding {
	background-image: url("img/textpattern.svg");
	-webkit-background-size: 9em 2em;
	-moz-background-size: 9em 2em;
	-o-background-size: 9em 2em;
	background-size: 9em 2em;
}


/* Navigation
   ========================================================================== */

#navpop {
	float: right;
	margin: .2em 2em;
}

.nav-tabs {
	text-align: center;
}

.nav-tabs ul {
	list-style: none;
	margin: .5em 0 0;
	border-bottom: 1px solid #ccc;
	padding: 0;
	-webkit-box-shadow: inset 0 -.25em .4em rgba(0, 0, 0, .15);
	-moz-box-shadow: inset 0 -.25em .4em rgba(0, 0, 0, .15);
	box-shadow: inset 0 -.25em .4em rgba(0, 0, 0, .15);
}

.nav-tabs li {
	display: inline-block;
}

.nav-tabs a {
	display: block;
	position: relative;
	bottom: -1px;
	border: 1px solid #ddd;
	border-bottom: 0;
	-moz-border-radius-topright: .75em 2em;
	border-top-right-radius: .75em 2em;
	-moz-border-radius-topleft: .75em 2em;
	border-top-left-radius: .75em 2em;
	padding: .2em 1.5em;
	text-decoration: none;
	color: #000;
	background-color: #fff8dd;
	-webkit-box-shadow: inset 0 -.2em .4em rgba(219, 203, 141, .5), 0 -.15em .15em rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 -.2em .4em rgba(219, 203, 141, .5), 0 -.15em .15em rgba(0, 0, 0, .1);
	box-shadow: inset 0 -.2em .4em rgba(219, 203, 141, .5), 0 -.15em .15em rgba(0, 0, 0, .1);
}

.nav-tabs a:hover {
	background-color: #fff;
}

.nav-tabs a.tabup {
	background-color: #fff;
	-webkit-box-shadow: 0 -.15em .15em rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 -.15em .15em rgba(0, 0, 0, .1);
	box-shadow: 0 -.15em .15em rgba(0, 0, 0, .1);
	cursor: default;
}


/* Footer
   ========================================================================== */

.txp-footer {
	min-width: 80em;
	text-align: center;
}

.txp-footer p {
	margin: 0;
}


/* Miscellaneous/shared layout
   ========================================================================== */

/* Hide text but still allow screen reader access */
.txp-accessibility {
	position: absolute;
	left: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.txp-control-panel {
	text-align: center;
}

.txp-actions a {
	margin-left: .75em;
}

div.multi-edit {
	margin: 1em 0;
}

.multi-option {
	display: none;
}

.multi-step {
	display: inline-block;
	margin-left: .4em;
}

/* TO BE REMOVED */
.txp-columntable {
	width: 100%;
}

.prev-next,
.pageby {
	text-align: center;
}

/* inline grids */

.txp-grid {
	text-align: center;
	margin-bottom: .5em;
}

.txp-grid-cell {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	max-width: 26em;
	vertical-align: top;
	margin: 0 .125em .25em;
	border: 1px solid #ccc;
	padding: 0 1em;
	display: inline-block;
}

.restricted-area {
	margin: 3em auto auto;
	text-align: center;
}

.empty {
	display: none;
}

.disabled {
	opacity: .33;
	/* transparency support for IE8 */
	filter: alpha(opacity=33);
}

/* AJAX spinner */
span.spinner {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url("img/spinner.gif");
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
	span.spinner {
		background-image: url("img/spinner@2x.gif") !important;
		-webkit-background-size: 13px 13px;
		background-size: 13px 13px;
	}
}


/* Edit and login panes
   ========================================================================== */

.txp-edit,
.txp-login {
	margin: 0 auto 1em;
	border: 1px solid #e5e5e5;
	padding: 1em 1em 1px 1em;
}

.txp-edit {
	width: 56em;
}

.txp-login {
	width: 34em;
}

.txp-label,
.txp-value {
	display: inline-block;
	float: left;
	width: 50%;
}

.txp-value input,
.txp-value select {
	margin-top: -.25em;
	margin-bottom: -.25em;
}

.txp-value-fixed {
	display: inline-block;
	padding: .25em 0;
}

/* deprecated @ 4.6 */
.edit-label,
.login-label {
	display: inline-block;
	float: left;
}

/* deprecated @ 4.6 */
.edit-label {
	width: 45%;
}

/* deprecated @ 4.6 */
.login-label {
	width: 31%;
}

/* deprecated @ 4.6 */
.edit-value,
.login-value {
	display: inline-block;
	float: right;
}

/* deprecated @ 4.6 */
.edit-value {
	width: 55%;
}

/* deprecated @ 4.6 */
.login-value {
	width: 69%;
}

/* deprecated @ 4.6 */
.edit-value input,
.edit-value select,
.login-value input,
.login-value select {
	margin-top: -.25em;
	margin-bottom: -.25em;
}


/* Tag builder page
   ========================================================================== */

#tag-event {
	border-top: .5em solid #fc3;
	padding: 0 1em;
	/* Prevent 'jumping' */
	overflow-y: scroll;
}

#tag-event th,
#tag-event td {
	padding: .3em;
	width: 50%;
}

#tagbuilder-output {
	margin: 2em .3em 0 .3em;
}


/* Content -> Categories page
   ========================================================================== */

.category-tree p {
	margin: 0;
	border-bottom: 1px solid #ddd;
	padding: .3em 0;
}

.category-tree p:first-child {
	border-top: 1px solid #ddd;
}


/* Content -> Write page
   ========================================================================== */

#view_modes ul {
	list-style: none;
	padding: 0;
}

#view_modes li {
	display: inline-block;
	margin-right: .75em;
	border: 1px solid #ccc;
	width: 24px;
	height: 24px;
}

#view_modes a {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 24px;
	height: 24px;
	background: #fff8dd no-repeat 50% 50%;
}

#view_modes a:hover,
#view_modes li.active a {
	background-color: #fff;
}

.no-svg #tab-text a {
	background-image: url("img/view-text.png");
}

.svg #tab-text a {
	background-image: url("img/view-text.svg");
}

.no-svg #tab-html a {
	background-image: url("img/view-html.png");
}

.svg #tab-html a {
	background-image: url("img/view-html.svg");
}

.no-svg #tab-preview a {
	background-image: url("img/view-preview.png");
}

.svg #tab-preview a {
	background-image: url("img/view-preview.svg");
}

.svg #view_modes a {
	-webkit-background-size: 24px 24px;
	-moz-background-size: 24px 24px;
	-o-background-size: 24px 24px;
	background-size: 24px 24px;
}

.view-mode:hover,
#tab-textup,
#tab-htmlup,
#tab-previewup {
	background-color: #fff;
}

#main_content #title {
  width: 75%;
}


/* Content -> Articles page
   ========================================================================== */

.unpublished {
	color: #999999;
}


/* Content -> Images page
   ========================================================================== */

.fullsize-image {
	text-align: center;
	margin-bottom: 1em;
}

.fullsize-image img {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: auto;
}

.thumbnail-edit {
	overflow-x: auto;
	margin-bottom: 1em;
}

.thumbnail-edit form {
	vertical-align: top;
 	display: inline-block;
}


/* Content -> Comments page
   ========================================================================== */

tr.spam {
	background: #fff4f4;
}

tr.moderate {
	background: #fff8dd;
}


/* Admin -> Languages page
   ========================================================================== */

#language_control {
	text-align: left;
}

#page-lang .modified {
	font-style: italic;
	color: #aaa;
}

#textpack-install {
	width: 34em;
}


/* Admin -> Plugins page
   ========================================================================== */

tr .manage span,
tr .plugin-prefs {
	visibility: hidden;
}

tr.active .manage span,
tr.active .plugin-prefs {
	visibility: visible;
}

#plugin-install {
	width: 34em;
}

#plugin_preview {
	margin: 0 auto;
	max-width: 65%;
}

div.code {
	margin-bottom: 1em;
	padding: .25em;
	height: 24em;
	overflow: auto;
	background-color: #f5f5f5;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.plugin-column {
	margin: 0 auto;
	max-width: 58em;
}

/* Deprecated @ 4.6 - use .txp-layout-textbox instead */
.plugin-column p:after {
	content: "";
	display: table;
	clear: both;
}
