/**
 * Optional user-defined custom CSS rules for this admin-side theme.
 *
 * Enable this file by uncommenting (or adding) the following line within your
 * Textpattern config.php file: define('admin_custom_css', true);
 *
 * You can uncomment any of the pre-made rules below, or add your own rules.
 * Note: be careful not to overwrite your own custom rules when updating to a
 * new version of Textpattern!
 */



/* Global
   ========================================================================== */


/**
 * Remove Textpattern branding.
 */

/* .txp-header h1 {
    padding-left: 0 !important;
    background: none !important;

    a {
        margin-left: 0 !important;
    }
} */


/**
 * Remove page headings.
 */

/* .txp-heading {
    display: none !important;
} */



/* Content -> Write panel
   ========================================================================== */


/**
 * Hide the Write panel Text/HTML/Preview tabs group.
 */

/* #view_modes {
    display: none !important;
} */


/**
 * Hide the Write panel 'Expires' group.
 */

/* .expires {
    display: none !important;
} */


/**
 * Hide the Write panel 'Keywords' field.
 */

/* .keywords {
    display: none !important;
} */


/**
 * Hide the Write panel 'Comment options' group.
 */

/* #txp-comments-group {
    display: none !important;
} */


/**
 * Hide the Write panel 'Article image' group.
 */

/* #txp-image-group {
    display: none !important;
} */


/**
 * Hide the Write panel 'Custom fields' group.
 */

/* #txp-custom-field-group {
    display: none !important;
} */


/**
 * Hide the Write panel 'Advanced options' group.
 */

/* #txp-advanced-group {
    display: none !important;
} */


/**
 * Hide the Write panel 'Text formatting help' group.
 */

/* #txp-textfilter-group {
    display: none !important;
} */


/**
 * Hide the Write panel 'Recent articles' group.
 */

/* #txp-recent-group {
    display: none !important;
} */



/* Content -> Images panel
   ========================================================================== */


/**
 * Hide the Images panel 'Caption' field.
 */

/* .edit-image-caption {
    display: none !important;
} */
