/* ==========================================================================
   Fallbacks for unsupported browser features
   ========================================================================== */
/**
 * Don't allow site to collapse smaller than large breakpoint.
 */
.txp-body {
  min-width: 60em;
}

/**
 * Fallback for lack of `opacity` support.
 */
.close {
  color: #737373;
}
.close:hover {
  color: #f2f2f2;
}

.disabled {
  filter: alpha(opacity=33);
}

.dropdown {
  background: #fcdc7f;
}
.dropdown:hover a.dropdown-toggle {
  background: #fcdc7f;
}
.dropdown.selected a.dropdown-toggle {
  background: #fcdc7f;
}

/**
 * PNG fallback for lack of SVG support.
 */
.welcome h1,
.txp-login h1 {
  background-image: url("../img/textpattern.png");
}

.txp-header h1,
.dropdown-menu:before {
  background-image: url("../img/sprite.gif");
}

/* ==========================================================================
   Fix for reponsive embedded content in IE 8
   ========================================================================== */
img,
video {
  width: auto;
}
