/* ==========================================================================
   Desktop version layout for IE 8 due to lack of media queries support
   ========================================================================== */
/**
 * Enlarge baseline text size.
 */
html {
  font-size: 112.5%;
}

/**
 * Don't allow site to collapse smaller than large breakpoint.
 */
.container,
.site-header,
.site-footer,
.site-navigation ul {
  min-width: 50em;
}

/**
 * Desktop version of the navigation menu. Overrides mobile first version.
 */
.site-navigation {
  border-top: 1px solid #cccccc;
}
.site-navigation ul {
  width: 88%;
}
.site-navigation li {
  float: left;
  border-top: 0;
  border-right: 1px solid #cccccc;
}
.site-navigation li:first-child {
  border-left: 1px solid #cccccc;
}
.site-navigation a {
  padding: 0.5em 1em;
}

/**
 * Two-column layout.
 *
 * 1. Complementary content moves from under main content to the right column
 *    and main column is reduced in width to allow this.
 * 2. Golden ratio at container maximum width.
 */
main {
  /* 1 */
  float: left;
  /* 2 */
  width: 54%;
}

.complementary-content {
  /* 1 */
  float: right;
  margin: 2em 0;
  border: 1px solid #e3e3e3;
  padding: 0 1em;
  width: 30%;
  background: #f7f7f7;
}

/**
 * Fix for responsive embedded content in IE 8.
 */
img,
video {
  width: auto;
}
